
.banner-default{
	@keyframes animate-cover-photo {
		0% {
		  margin-bottom: 100px;
		  transform: scale(2);
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  margin-bottom: 0;
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-profile-photo {
		0% {
		  transform: scale(0);
		}
	  
		80% {
		  transform: scale(1.1);
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-name {
		0% {
		  transform: translateY(100%);
		}
	  
		100% {
		  transform: translateY(0%);
		}
	  }
	  
	  @keyframes animate-social {
		0% {
		  transform: scale(0);
		}
	  
		95% {
		  transform: scale(1.1);
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-link {
		0% {
		  top: 60px;
		  transform: scale(0);
		}
	  
		100% {
		  top: 0;
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-watermark {
		0% {
		  opacity: 0;
		}
	  
		100% {
		  opacity: 1;
		}
	  }
	  
	  .profile-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		margin-top: -150px;
	  
		.picture-wrapper {
		  background: #fff;
		  display: inline-flex;
		  border-radius: 50%;
		  align-items: center;
		  justify-content: center;
		  background-color: transparent;
		  width: 64px;
		  height: 64px;
		  margin: auto;
		  margin-top: 7.5rem;
		}
	  
		.name-bio-wrapper {
		  box-sizing: border-box;
		  width: 100%;
		  padding: 8px 32px;
		  margin: 0 auto;
		  overflow-wrap: break-word;
		  text-align: center;
		  color: var(--bg-contrast-color, #000);
	  
		  .name {
			font-size: 15px;
			font-weight: 600;
		  }
	  
		  .bio {
			line-height: 18px;
			font-size: 11px;
			letter-spacing: 0.5px;
			margin-top: 6px;
			//text-transform: uppercase;
		  }
		}
		.bio-username-text{
			font-size: 11px;
			letter-spacing: -0.05em;
			color: var(--bg-contrast-color, #000);
		}
	  
		.picture-wrapper .picture {
		  display: inline-flex;
		  border-radius: 50%;
		//   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
		  overflow: hidden;
		  z-index: 10;
		  width: 100%;
		  height: 100%;
		  animation: animate-profile-photo 0.8s 0.2s backwards;
		//   border: 2px solid #ffffff1f;
	  
		  &::before {
			background: #fff;
		  }
	  
		  img {
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: inherit;
		  }
	  
		  &:not(.--in-img) img {
			border-radius: 550px;
		  }
		}
	  
		.default-bio-banner {
		  position: absolute;
		  top: 0;
		  z-index: 10;
		  width: 100%;
		  height: 174px;
		  animation: animate-cover-photo 1s ease-in-out backwards;
		}
	  }
	  
	  .yetti-cover-wrapper {
		z-index: 1;
		padding: 0.5rem;
	  
		.yetti-photo {
		  height: 137px;
		  position: relative;
		  animation: animate-cover-photo 1s ease-in-out backwards;
		  img {
			animation: animate-cover-photo 1s ease-in-out backwards;
			object-fit: cover;
			width: 100%;
			height: 137px;
			position: relative;
			object-position: center center;
			border-radius: 0.5rem;
		  }
		}
	  }
	  
	  .profile-wrapper .name-bio-wrapper .content {
		animation: animate-name 0.3s 0.5s backwards;
		overflow: hidden;
	  }
	  
	  .-align-center .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: center;
		}
	  }

	  .-align-left .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper {
		  text-align: left;
		}
	  
		.picture-wrapper {
		  margin-left: 32px;
		}
	  }
	  
	  .-align-right .profile-wrapper {
		//margin-bottom: 2rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: right;
		}
	  
		.picture-wrapper {
		  margin-right: 32px;
		}
	  }	  
}
.banner-stone{
	@keyframes animate-cover-photo {
		0% {
		  margin-bottom: 100px;
		  transform: scale(2);
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  margin-bottom: 0;
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-profile-photo {
		0% {
		  transform: scale(0);
		}
	  
		80% {
		  transform: scale(1.1);
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-name {
		0% {
		  transform: translateY(100%);
		}
	  
		100% {
		  transform: translateY(0%);
		}
	  }
	  
	  @keyframes animate-social {
		0% {
		  transform: scale(0);
		}
	  
		95% {
		  transform: scale(1.1);
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-link {
		0% {
		  top: 60px;
		  transform: scale(0);
		}
	  
		100% {
		  top: 0;
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-watermark {
		0% {
		  opacity: 0;
		}
	  
		100% {
		  opacity: 1;
		}
	  }
	  
	  .profile-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		margin-top: -100px;
		position: relative;
		z-index: 9;
	  
		.picture-wrapper {
		  background: #fff;
		  display: inline-flex;
		  border-radius: 50%;
		  align-items: center;
		  justify-content: center;
		  background-color: transparent;
		  width: 64px;
		  height: 64px;
		  margin: auto;
		  margin-top: 7.5rem;
		}
	  
		.name-bio-wrapper {
		  box-sizing: border-box;
		  width: 100%;
		  padding: 8px 32px;
		  margin: 0 auto;
		  overflow-wrap: break-word;
		  text-align: center;
		  color: var(--bg-contrast-color, #000);
	  
		  .name {
			font-size: 15px;
			font-weight: 600;
		  }
	  
		  .bio {
			line-height: 18px;
			font-size: 11px;
			letter-spacing: 0.5px;
			margin-top: 6px;
			//text-transform: uppercase;
		  }
		}
		.bio-username-text{
			font-size: 11px;
			letter-spacing: -0.05em;
			color: var(--bg-contrast-color, #000);
		}
	  
		.picture-wrapper .picture {
		  display: inline-flex;
		  border-radius: 50%;
		//   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
		  overflow: hidden;
		  z-index: 10;
		  width: 100%;
		  height: 100%;
		  animation: animate-profile-photo 0.8s 0.2s backwards;
		//   border: 2px solid #ffffff1f;
	  
		  &::before {
			background: #fff;
		  }
	  
		  img {
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: inherit;
		  }
	  
		  &:not(.--in-img) img {
			border-radius: 550px;
		  }
		}
	  
		.default-bio-banner {
		  position: absolute;
		  top: 0;
		  z-index: 10;
		  width: 100%;
		  height: 174px;
		  animation: animate-cover-photo 1s ease-in-out backwards;
		}
	  }
	  
	  .yetti-cover-wrapper {
		z-index: 1;
	  
		.yetti-photo {
		  position: relative;
		//   animation: animate-cover-photo 1s ease-in-out backwards;
		  &::before{
			content: "";
			position: absolute;
			display: inline-block;
			left: 0;
			bottom: -1px;
			width: 100%;
			height: 100%;
			background: linear-gradient(transparent 10%, var(--general-site-color) 90%) !important;
			z-index: 9;
		  }
		  img {
			display: block;
			border-radius: 0;
			width: 100% !important;
			overflow: hidden;
			aspect-ratio: 1.125;
			object-fit: cover;
		  }
		}
	  }
	  
	  .profile-wrapper .name-bio-wrapper .content {
		animation: animate-name 0.3s 0.5s backwards;
		overflow: hidden;
	  }
	  
	  .-align-center .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: center;
		}
	  }

	  .-align-left .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper {
		  text-align: left;
		}
	  
		.picture-wrapper {
		  margin-left: 32px;
		}
	  }
	  
	  .-align-right .profile-wrapper {
		//margin-bottom: 2rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: right;
		}
	  
		.picture-wrapper {
		  margin-right: 32px;
		}
	  }	  
}

.banner-v5{
	@keyframes animate-cover-photo {
		0% {
		  margin-bottom: 100px;
		  transform: scale(2);
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  margin-bottom: 0;
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-profile-photo {
		0% {
		  transform: scale(0);
		}
	  
		80% {
		  transform: scale(1.1);
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-name {
		0% {
		  transform: translateY(100%);
		}
	  
		100% {
		  transform: translateY(0%);
		}
	  }
	  
	  @keyframes animate-social {
		0% {
		  transform: scale(0);
		}
	  
		95% {
		  transform: scale(1.1);
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-link {
		0% {
		  top: 60px;
		  transform: scale(0);
		}
	  
		100% {
		  top: 0;
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-watermark {
		0% {
		  opacity: 0;
		}
	  
		100% {
		  opacity: 1;
		}
	  }
	  
	  @keyframes spin {
			100% {
				transform: rotate(1turn);
			}
		}

	  .--v5-content{
		align-content: flex-start;
		align-items: flex-start;
		display: flex;
		flex: none;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 18px;
		height: min-content;
		justify-content: flex-start;
		overflow: visible;
		padding: 64px 16px 16px;
		position: relative;
		width: 100%;
	  }
	  .--location{
		color: var(--bg-contrast-color, #000);
	  }
	  
	  
		.name-bio-wrapper {
			box-sizing: border-box;
			width: 100%;
			//padding: 8px 32px;
			margin: 0 auto;
			overflow-wrap: break-word;
			text-align: left;
			color: var(--bg-contrast-color, #000);
		
			.name {
				font-size: 32px;
				font-weight: 700;
				letter-spacing: -1.5px;
				line-height: 1.2rem;
				@media(max-width: 809px){
					font-size: 22px;
					font-weight: 700;
					letter-spacing: -1px;
					line-height: 130%;
				}
			}
		
			.bio {
			  font-size: 20px;
			  font-weight: 400;
			  letter-spacing: -.34px;
			  line-height: 29px;
			  text-align: left;
			  @media(max-width: 809px){
				  font-size: 17px;
				  font-weight: 400;
				  letter-spacing: -.34px;
				  line-height: 150%;
			  }
			}
		  }
		.bio-username-text{
			font-size: 11px;
			letter-spacing: -0.05em;
			color: var(--bg-contrast-color, #000);
		}
	  .profile-wrapper {
		align-items: center;
		display: flex;
		flex: none;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 16px;
		height: min-content;
		justify-content: flex-start;
		overflow: visible;
		padding: 0;
		position: relative;

		.v5-highlight{
			overflow: initial !important;
			&.story-preview .base-picture-o{
				display: none !important;
			}
			.picture-wrapper .picture {
				animation: spin 10s infinite linear;
				border-top: 2px solid #ffffff;
				border-right: 2px solid #000000;
				border-left: 2px solid #000000;
				border-bottom: 2px solid #ffffff;
				img{
					padding: 4px;
					animation: spin 10s infinite reverse linear;
				}
			}
		}
	  
		.picture-wrapper {
		  background: #fff;
		  display: inline-flex;
		  border-radius: 50%;
		  align-items: center;
		  justify-content: center;
		  background-color: transparent;

		  &.is-story{
			width: initial !important;
			max-width: initial !important;
			margin: initial !important;

			.info, .item-preview{
				display: none !important;
			}
		  }
		}
	  
		.picture-wrapper .picture {
		  display: inline-flex;
		  border-radius: 50%;
		  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
		  overflow: hidden;
		  z-index: 10;
		  width: 96px;
		  height: 96px;
		  animation: animate-profile-photo 0.8s 0.2s backwards;
		  border: 4px solid black;

		  &::before {
			background: #fff;
		  }
	  
		  img {
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: inherit;
		  }
	  
		  &:not(.--in-img) img {
			border-radius: 550px;
		  }
		}
	  
		.default-bio-banner {
		  position: absolute;
		  top: 0;
		  z-index: 10;
		  width: 100%;
		  height: 174px;
		  animation: animate-cover-photo 1s ease-in-out backwards;
		}
	  }
	  
	  .yetti-cover-wrapper {
		z-index: 1;
		padding: 0.5rem;
	  
		.yetti-photo {
		  height: 137px;
		  position: relative;
		  animation: animate-cover-photo 1s ease-in-out backwards;
		  img {
			animation: animate-cover-photo 1s ease-in-out backwards;
			object-fit: cover;
			width: 100%;
			height: 137px;
			position: relative;
			object-position: center center;
			border-radius: 0.5rem;
		  }
		}
	  }
	  
	  .profile-wrapper .name-bio-wrapper .content {
		animation: animate-name 0.3s 0.5s backwards;
		overflow: hidden;
	  }
	  
	  .-align-left .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper {
		  text-align: left;
		}
	  
		.picture-wrapper {
		  margin-left: 32px;
		}
	  }


	  .-align-center .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: center;
		}
	  }
	  
	  .-align-right .profile-wrapper {
		//margin-bottom: 2rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: right;
		}
	  
		.picture-wrapper {
		  margin-right: 32px;
		}
	  }	  
}

.banner-shapes{
	@keyframes animate-cover-photo {
		0% {
		  margin-bottom: 100px;
		  transform: scale(2);
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  margin-bottom: 0;
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-profile-photo {
		0% {
		  transform: scale(0);
		}
	  
		80% {
		  transform: scale(1.1);
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-name {
		0% {
		  transform: translateY(100%);
		}
	  
		100% {
		  transform: translateY(0%);
		}
	  }
	  
	  @keyframes animate-social {
		0% {
		  transform: scale(0);
		}
	  
		95% {
		  transform: scale(1.1);
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-link {
		0% {
		  top: 60px;
		  transform: scale(0);
		}
	  
		100% {
		  top: 0;
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-watermark {
		0% {
		  opacity: 0;
		}
	  
		100% {
		  opacity: 1;
		}
	  }
	  .--location{
		color: var(--bg-contrast-color, #000);
	  }
	  
	  .profile-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		margin-top: -150px;
	  
		.picture-wrapper {
		  background: #fff;
		  display: inline-flex;
		  border-radius: 50%;
		  align-items: center;
		  justify-content: center;
		  background-color: transparent;
		  width: 132px;
		  height: 132px;
		  margin: auto;
		  margin-top: 4rem;
		}
	  
		.name-bio-wrapper {
		  box-sizing: border-box;
		  width: 100%;
		  padding: 8px 32px;
		  margin: 0 auto;
		  overflow-wrap: break-word;
		  text-align: center;
		  color: var(--bg-contrast-color, #000);
		  padding-left: 1.25rem;
		  padding-right: 1.25rem;

		  @media(min-width: 768px){
			padding-left:2.5rem;
			padding-right:2.5rem;
		  }
	  
		  .name {
			font-size: 28px;
			line-height: 34px;
		  }
	  
		  .bio {
			line-height: 18px;
			font-size: 12px;
			letter-spacing: 0.5px;
			margin-top: 6px;
			//text-transform: uppercase;
		  }
		}
	  
		.picture-wrapper .picture {
		  display: inline-flex;
		  border-radius: 50%;
		//   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
		  overflow: hidden;
		  z-index: 10;
		  width: 100%;
		  height: 100%;
		  animation: animate-profile-photo 0.8s 0.2s backwards;
		  padding: 6px;
	  
		  &::before {
			background: #fff;
		  }
	  
		  img {
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: inherit;
		  }
	  
		  &:not(.--in-img) img {
			border-radius: 550px;
		  }
		}
	  
		.default-bio-banner {
		  position: absolute;
		  top: 0;
		  z-index: 10;
		  width: 100%;
		  height: 174px;
		  clip-path: url(#bannercurve);
		  animation: animate-cover-photo 1s ease-in-out backwards;
		}
	  }
	  
	  .yetti-cover-wrapper {
		clip-path: url(#bannercurve);
		-webkit-clip-path: url(#bannercurve);
		z-index: 1;
	  
		.yetti-photo {
		  height: 160px;
		  position: relative;
		  animation: animate-cover-photo 1s ease-in-out backwards;
		  img {
			animation: animate-cover-photo 1s ease-in-out backwards;
			object-fit: cover;
			width: 100%;
			height: 160px;
			position: relative;
			object-position: center center;
			border-radius: 0 !important;
		  }
		}
	  }
	  
	  .profile-wrapper .name-bio-wrapper .content {
		animation: animate-name 0.3s 0.5s backwards;
		overflow: hidden;
	  }

	  .-align-center .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: center;
		}
	  }
	  
	  .-align-left .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper {
		  text-align: left;
		}
	  
		.picture-wrapper {
		  margin-left: 32px;
		}
	  }
	  
	  .-align-right .profile-wrapper {
		//margin-bottom: 2rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: right;
		}
	  
		.picture-wrapper {
		  margin-right: 32px;
		}
	  }	  
}

.banner-shapes-slant-right{
	@keyframes animate-cover-photo {
		0% {
		  margin-bottom: 100px;
		  transform: scale(2);
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  margin-bottom: 0;
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-profile-photo {
		0% {
		  transform: scale(0);
		}
	  
		80% {
		  transform: scale(1.1);
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-name {
		0% {
		  transform: translateY(100%);
		}
	  
		100% {
		  transform: translateY(0%);
		}
	  }
	  
	  @keyframes animate-social {
		0% {
		  transform: scale(0);
		}
	  
		95% {
		  transform: scale(1.1);
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-link {
		0% {
		  top: 60px;
		  transform: scale(0);
		}
	  
		100% {
		  top: 0;
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-watermark {
		0% {
		  opacity: 0;
		}
	  
		100% {
		  opacity: 1;
		}
	  }
	  .--location{
		color: var(--bg-contrast-color, #000);
	  }
	  
	  .profile-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		margin-top: -150px;
	  
		.picture-wrapper {
		  background: #fff;
		  display: inline-flex;
		  border-radius: 50%;
		  align-items: center;
		  justify-content: center;
		  background-color: transparent;
		  width: 100px;
		  height: 100px;
		  margin: auto;
		  margin-top: 4rem;
		}
	  
		.name-bio-wrapper {
		  box-sizing: border-box;
		  width: 100%;
		  padding: 8px 32px;
		  margin: 0 auto;
		  overflow-wrap: break-word;
		  text-align: center;
		  color: var(--bg-contrast-color, #000);
		  padding-left: 1.25rem;
		  padding-right: 1.25rem;

		  @media(min-width: 768px){
			padding-left:2.5rem;
			padding-right:2.5rem;
		  }
	  
		  .name {
			font-size: 28px;
			line-height: 34px;
		  }
	  
		  .bio {
			line-height: 18px;
			font-size: 12px;
			letter-spacing: 0.5px;
			margin-top: 6px;
			//text-transform: uppercase;
		  }
		}
	  
		.picture-wrapper .picture {
		  display: inline-flex;
		  border-radius: 50%;
		//   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
		  overflow: hidden;
		  z-index: 10;
		  width: 100%;
		  height: 100%;
		  animation: animate-profile-photo 0.8s 0.2s backwards;
		  padding: 6px;
	  
		  &::before {
			background: #fff;
		  }
	  
		  img {
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: inherit;
		  }
	  
		  &:not(.--in-img) img {
			border-radius: 550px;
		  }
		}
	  
		.default-bio-banner {
		  position: absolute;
		  top: 0;
		  z-index: 10;
		  width: 100%;
		  height: 174px;
		  clip-path: url(#banner-shapes-slant-right-mask);
		  animation: animate-cover-photo 1s ease-in-out backwards;
		}
	  }
	  
	  .yetti-cover-wrapper {
		clip-path: url(#banner-shapes-slant-right-mask);
		-webkit-clip-path: url(#banner-shapes-slant-right-mask);
		z-index: 1;
	  
		.yetti-photo {
		  height: 190px;
		  position: relative;
		  animation: animate-cover-photo 1s ease-in-out backwards;
		  img {
			animation: animate-cover-photo 1s ease-in-out backwards;
			object-fit: cover;
			width: 100%;
			height: 190px;
			position: relative;
			object-position: center center;
			border-radius: 0 !important;
		  }
		}
	  }
	  
	  .profile-wrapper .name-bio-wrapper .content {
		animation: animate-name 0.3s 0.5s backwards;
		overflow: hidden;
	  }
	  
	  .-align-center .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: center;
		}
	  }

	  .-align-left .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper {
		  text-align: left;
		}
	  
		.picture-wrapper {
		  margin-left: 1.25rem;
		}
	  }
	  
	  .-align-right .profile-wrapper {
		//margin-bottom: 2rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: right;
		}
	  
		.picture-wrapper {
		  margin-right: 1.25rem;
		}
	  }	  
}

.banner-shapes-slant-left{
	@keyframes animate-cover-photo {
		0% {
		  margin-bottom: 100px;
		  transform: scale(2);
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  margin-bottom: 0;
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-profile-photo {
		0% {
		  transform: scale(0);
		}
	  
		80% {
		  transform: scale(1.1);
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-name {
		0% {
		  transform: translateY(100%);
		}
	  
		100% {
		  transform: translateY(0%);
		}
	  }
	  
	  @keyframes animate-social {
		0% {
		  transform: scale(0);
		}
	  
		95% {
		  transform: scale(1.1);
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-link {
		0% {
		  top: 60px;
		  transform: scale(0);
		}
	  
		100% {
		  top: 0;
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-watermark {
		0% {
		  opacity: 0;
		}
	  
		100% {
		  opacity: 1;
		}
	  }
	  
	  .--location{
		color: var(--bg-contrast-color, #000);
	  }
	  .profile-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		//margin-top: -150px;
	  
		.picture-wrapper {
		  background: #fff;
		  display: inline-flex;
		  border-radius: 50%;
		  align-items: center;
		  justify-content: center;
		  background-color: transparent;
		  width: 75px;
		  height: 75px;
		  margin: auto;
		  //margin-top: 4rem;
		}
	  
		.name-bio-wrapper {
		  box-sizing: border-box;
		  width: 100%;
		  padding: 8px 32px;
		  margin: 0 auto;
		  overflow-wrap: break-word;
		  text-align: center;
		  color: var(--bg-contrast-color, #000);
		  padding-left: 1.25rem;
		  padding-right: 1.25rem;

		  @media(min-width: 768px){
			padding-left:1.5rem;
			padding-right:2.5rem;
		  }
	  
		  .name {
			font-size: 28px;
			line-height: 34px;
		  }
	  
		  .bio {
			line-height: 18px;
			font-size: 12px;
			letter-spacing: 0.5px;
			margin-top: 6px;
			//text-transform: uppercase;
		  }
		}
	  
		.picture-wrapper .picture {
		  display: inline-flex;
		  border-radius: 50%;
		//   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
		  overflow: hidden;
		  z-index: 10;
		  width: 100%;
		  height: 100%;
		  animation: animate-profile-photo 0.8s 0.2s backwards;
		  padding: 6px;
	  
		  &::before {
			background: #fff;
		  }
	  
		  img {
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: inherit;
		  }
	  
		  &:not(.--in-img) img {
			border-radius: 550px;
		  }
		}
	  
		.default-bio-banner {
		  position: absolute;
		  top: 0;
		  z-index: 10;
		  width: 100%;
		  height: 174px;
		  clip-path: url(#banner-shapes-slant-left-mask);
		  animation: animate-cover-photo 1s ease-in-out backwards;
		}
	  }
	  
	  .yetti-cover-wrapper {
		clip-path: url(#banner-shapes-slant-left-mask);
		-webkit-clip-path: url(#banner-shapes-slant-left-mask);
		z-index: 1;
	  
		.yetti-photo {
		  height: 300px;
		  position: relative;
		  animation: animate-cover-photo 1s ease-in-out backwards;
		  img {
			animation: animate-cover-photo 1s ease-in-out backwards;
			object-fit: cover;
			width: 100%;
			height: 300px;
			position: relative;
			object-position: center center;
			border-radius: 0 !important;
		  }
		}
	  }
	  
	  .profile-wrapper .name-bio-wrapper .content {
		animation: animate-name 0.3s 0.5s backwards;
		overflow: hidden;
	  }
	  

	  .-align-center .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: center;
		}
	  }
	  .-align-left .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper {
		  text-align: left;
		}
	  
		.picture-wrapper {
		  margin-left: 1.25rem;
		}
	  }
	  
	  .-align-right .profile-wrapper {
		//margin-bottom: 2rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: right;
		}
	  
		.picture-wrapper {
		  margin-right: 1.25rem;
		}
	  }	  
}
.banner-t16{
	height: calc(100svh - 151px);
    position: relative;

	.-banner-cover{
		inset: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;

		img{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
			border-radius: 0 0 0 0;
		}
	}

	.-banner-overlay{
		position: absolute;
		inset: 0;
		opacity: 20%;
		background: white;
		border-radius: 16px 16px 0 0;

		position: absolute;
		inset: 0;
		opacity: 40%;
		background: black;
		border-radius: 0 0 0 0;
	}

	.-thumb-avatar{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 45px 20px;
		align-items: center;
		flex-flow: column;
		display: flex;
		img{
			border-radius: 50%;
			margin-bottom: 20px;
			width: 140px;
			height: 140px;
			object-fit: cover;
			object-position: center center;
		}

		.--bio{
			display: -webkit-box;
			-webkit-line-clamp: 8;
			-webkit-box-orient: vertical;
			overflow: hidden;
			font-style: normal;
			font-weight: 600;
			text-align: center;
			white-space: pre-line;
			padding: 0 36px;
			max-width: 100%;
			font-size: 14px;
			line-height: 22px;
			margin-top: -6px;
			color: #fff;

			&.-no-banner{
				color: var(--bg-contrast-color, #000);
			}
		}
	}

	.-name{
		margin-bottom: 30px;
		white-space: nowrap;
		overflow: hidden;
		top: 23px;
		left: 0;
		right: 0;
		position: absolute;
		align-items: center;
		display: flex;
		flex-flow: row;
		color: #fff;
		.--name-inner{
			font-size: 48px;
			line-height: 58px;
			text-align: center;
			font-weight: 600;
			position: relative;
			padding-right: 10px;
			display: flex;
			flex-flow: row;
			align-items: center;
			animation: move-text 10s 1s linear infinite;
			color: #fff;

			&.-no-banner{
				color: var(--bg-contrast-color, #000);
			}
			.--p{

			}

			.--deco{
				margin-left: 10px;
			}
		}
	}

	@keyframes move-text {
		0% {
		  transform: translateX(0);
		}
	  
		to {
		  transform: translateX(-100%);
		}
	  }
	  
	  @keyframes move-text-right {
		0% {
		  transform: translateX(0);
		}
	  
		to {
		  transform: translateX(100%);
		}
	  }
}

.banner-t19{
	display: flex;
    flex-flow: column;
	align-items: center;
	padding: 40px 18px 0;
	.-align-center {
	  //margin-bottom: 4.5rem;
	
	  .--name, .--bio {
		text-align: center;
	  }
	}

	.-align-left {
		align-items: flex-start;
		.--name{
			text-align: left;
		}

		.--bio{
			text-align: left;
			padding: 0;
		}
	}

	.-align-right {
		align-items: flex-end;
		.--name{
			text-align: right;
		}

		.--bio{
			text-align: right;
			padding: 0;
		}
	}
	.--avatar{
		border-radius: 50%;
		margin-bottom: 12px;
		width: 104px;
		height: 104px;
		object-fit: cover;
		object-position: center center;
	}

	.--location, .--bio, .--name{
		color: var(--bg-contrast-color, #000);
	}
	.--name{
		font-size: 28px;
		line-height: 36px;
		text-align: center;
		font-weight: 600;
		margin-top: auto;
	}

	.--bio{
		font-style: normal;
		font-weight: 400;
		text-align: center;
		white-space: pre-line;
		padding: 0 36px;
		max-width: 100%;
		margin-top: 6px;
		font-size: 13px;
		line-height: 20px;
	}

	.-banner-cover{
		flex-wrap: nowrap;
		overflow: hidden;
		position: relative;
		width: calc(100% + 40px);
		gap: 14px;
		margin-top: 32px;
		display: flex;
		flex-flow: row;
		align-items: center;

		@media(max-width: 768px){
			width: 100%;
		}

		.--cover-item{
			flex-shrink: 0!important;
			width: 66%;
			border-radius: 10px;
			overflow: hidden;
			left: calc(-50% - 7px);
			position: relative;
			.--cover-padding-conatiner{
				max-height: 100%;
				overflow: hidden;
				.--padding{
					padding-bottom: 100%;
				}
			}

			img{
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				position: absolute;
				object-fit: cover;
				object-position: center center;
			}
		}
	}
}


.banner-t20{
	display: flex;
    flex-flow: column;
	align-items: center;
	padding: 30px 18px 0;
	
	&.-align-center {
	//margin-bottom: 4.5rem;
	
		.--bio, .--name {
			text-align: center;
		}
	}

	&.-align-left {
		align-items: flex-start;
		.--name{
			text-align: left;
		}

		.--bio{
			text-align: left;
			padding: 0;
		}
	}

	&.-align-right {
		align-items: flex-end;
		.--name{
			text-align: right;
		}

		.--bio{
			text-align: right;
			padding: 0;
		}
	}
	.--avatar{
		border-radius: 50%;
		margin-bottom: 12px;
		width: 104px;
		height: 104px;
		object-fit: cover;
		object-position: center center;
	}

	.--bio, .--name{
		color: var(--bg-contrast-color, #000);
	}

	.--name{
		font-size: 64px;
		//line-height: 72px;
		font-weight: 600;
		padding-bottom: 30px;
		border-bottom: 1px solid #3d3f42;
		align-items: left;

		@media(max-width: 768px){
			font-size: 34px;
		}
	}

	.--bio{
		font-style: normal;
		font-weight: 600;
		text-align: center;
		white-space: pre-line;
		padding: 12px 36px;
		max-width: 100%;
		font-size: 14px;
		line-height: 22px;
		border-bottom: 1px solid #3d3f42;
		white-space: nowrap;
		overflow: hidden;
		align-items: center;
		display: flex;
		flex-flow: row;
		padding-left: 0;
		.--bio-inner{
			animation: move-text 25s 1s linear infinite;
			padding-right: 5px;
		}
	}

	.-banner-cover{
		margin-top: 30px;
		align-items: center;
		display: flex;
		flex-flow: column;

		.--cover-item{
			width: 100%;
			max-width: 380px;
			position: relative;
			.--cover-padding-conatiner{
				max-height: 100%;
				overflow: hidden;
				.--padding{
					padding-bottom: 100%;
				}
			}

			> img {
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 25rem;
				//position: absolute;
				object-fit: cover;
				object-position: center center;
			}
		}
	}
}

.banner-winn{
	@keyframes animate-cover-photo-winn {
		0% {
		  height: 0;
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  height: 280px;
		}
	  }
	  
	  @keyframes animate-profile-photo-winn {
		0% {
		  transform: scale(3);
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-name-winn {
		0% {
		  transform: translateY(100%);
		}
	  
		100% {
		  transform: translateY(0%);
		}
	  }
	  
	  @keyframes animate-social-winn {
		0% {
		  transform: scale(0);
		}
	  
		95% {
		  transform: scale(1.1);
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-link-winn {
		0% {
		  top: 60px;
		  transform: scale(0);
		}
	  
		100% {
		  top: 0;
		  transform: scale(1);
		}
	}

	.-align-left {
		align-items: flex-start;

		.--bio{
			text-align: left;
			padding: 0;
		}
		.profile-wrapper {
			.picture-wrapper {
				padding: 0 15px;
				text-align: left;
			}
			.name-bio-wrapper {
				padding: 0 15px;
				.content{
					text-align: left;
				}
				.name{
					text-align: left;
					justify-content: start;
				}
			}

		}
	}

	.-align-right {
		align-items: flex-end;

		align-items: flex-start;

		.--bio{
			text-align: right;
			padding: 0;
		}
		.profile-wrapper {
			.picture-wrapper {
				padding: 0 15px;
				text-align: right;
			}
			.name-bio-wrapper {
				padding: 0 15px;
				.content{
					text-align: right;
				}
				.name{
					text-align: right;
					justify-content: flex-end;
				}
			}

		}
	}
	  .profile-wrapper {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 2rem;
		width: 100%;
		z-index: 100;
		position: relative;
	  
		.picture-wrapper {
		  height: 232px;
		  margin-top: -25px;
		  z-index: 1;
		  text-align: center;
		}
	  
		.name-bio-wrapper {
		  display: flex;
		  flex-direction: column-reverse;
		  overflow-wrap: break-word;
		  z-index: 2;
	  
		  .name {
			font-size: 60px;
			font-weight: 400;
			letter-spacing: -6px;
			line-height: 60px;
			margin: 20px auto 0;
			max-width: 340px;
			min-height: 120px;
			width: 100%;
			margin-top: 24px;
			overflow: hidden;
			//text-transform: uppercase;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			color: var(--theme-text-color, #fff);
		  }
	  
		  .bio {
			font-size: 13px;
			font-weight: 500;
			letter-spacing: 1px;
			line-height: 17px;
			margin-top: 24px;
			overflow: hidden;
			//text-transform: uppercase;
			color: var(--theme-text-color, #fff);
		  }
		}
	  
		.picture-wrapper .picture {
		  //border-radius: 5%;
		  display: inline-flex;
		  overflow: hidden;
		  animation: animate-profile-photo-winn 1s ease-in-out backwards;
		  padding: 3px;
	  
		  &::before {
			background: #000;
		  }
	  
		  img {
			height: 232px;
			object-fit: cover;
			width: 232px;
		  }
		}
	  }
	  
	  .yetti-cover-wrapper {
		height: 280px;
		position: absolute;
		width: 100%;
	  
		&::before {
		  content: '';
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  left: 0;
		  top: 0;
		  display: block;
		  background: #0000005c;
		  z-index: 99;
		}
	  
		.yetti-photo {
		  animation: animate-cover-photo-winn 0.8s 0.2s ease-in-out backwards;
		  height: 280px;
		  overflow: hidden;
	  
		  .bio-background {
			display: block;
			position: relative;
	  
			* {
			  height: 280px;
			  object-fit: cover;
			  width: 100%;
			}
		  }
		}
	  }
	  
	  .profile-wrapper .name-bio-wrapper .content {
		animation: animate-name-winn 0.3s 0.5s backwards;
		overflow: hidden;
		text-align: center;
	  }
	  
	  .social-links .social-link, .stories.carousel .story > .item-link {
		animation: animate-social-winn 0.5s 0.5s ease-in-out backwards;
	  }
	  
	  .picture-wrapper, .name-bio-wrapper {
		z-index: 20;
		position: relative;
	  }	  
}

.banner-kin{
	@keyframes animate-cover-photo-kin {
		0% {
		  height: 0;
		  animation-timing-function: ease-out;
		}
	  
		100% {
		  height: 168px;
		}
	  }
	  
	  @keyframes animate-profile-photo-kin {
		0% {
		  transform: translateY(50px);
		  visibility: hidden;
		}
	  
		100% {
		  transform: translateY(0);
		  visibility: visible;
		}
	  }
	  
	  @keyframes animate-profile-photo-mirrors-kin {
		0% {
		  transform: translateY(50px);
		  visibility: hidden;
		}
	  
		100% {
		  transform: translateY(0);
		  visibility: visible;
		}
	  }
	  
	  @keyframes animate-name-kin {
		0% {
		  transform: translateY(100%);
		}
	  
		100% {
		  transform: translateY(0%);
		}
	  }
	  
	  @keyframes animate-social-kin {
		0% {
		  transform: scale(0);
		}
	  
		95% {
		  transform: scale(1.1);
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-link-kin {
		0% {
		  top: 60px;
		  transform: scale(0);
		}
	  
		100% {
		  top: 0;
		  transform: scale(1);
		}
	  }
	  .--location{
		color: var(--bg-contrast-color, #000);
	  }
	  
	  .profile-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
	  
		//margin-bottom: 3.5rem;
	  
		&::before {
		  background-color: #e8ebea;
		  background-image: var(--avatar-url);
		  background-repeat: no-repeat, no-repeat;
		  background-size: 140px 154px, cover;
		  background-position: 8px 10px, center;
		  box-sizing: border-box;
		  content: '';
		  height: 200px;
		  position: absolute;
		  top: 68px;
		  width: 156px;
		}
	  
		&::after {
		  background-color: #e8ebea;
		  background-image: var(--avatar-url);
		  background-repeat: no-repeat, no-repeat;
		  background-size: 140px 154px, cover;
		  background-position: 8px 10px, center;
		  box-sizing: border-box;
		  content: '';
		  height: 200px;
		  position: absolute;
		  top: 68px;
		  width: 156px;
		  animation: animate-profile-photo-mirrors-kin 0.5s 0.2s ease-in-out backwards;
		  right: -90px;
		}
	  
		&::before {
		  animation: animate-profile-photo-mirrors-kin 0.5s ease-in-out backwards;
		  left: -90px;
		}
	  
		.picture-wrapper {
		  background-repeat: no-repeat;
		  background-size: contain;
		  box-sizing: border-box;
		  display: inline-flex;
		  justify-content: center;
		  margin-top: 68px;
		  margin-left: auto;
		  margin-right: auto;
		  border-radius: 550px;
		  margin-bottom: 3rem;
	  
		  .picture {
			&:not(.customize-border) {
			  border: 10px solid #e8ebea;
			}
	  
			display: inline-flex;
			border-radius: 550px;
	  
			img {
			  height: 140px;
			  object-fit: cover;
			  width: 140px;
			  border-radius: 550px;
			}
		  }
		}
	  
		.name-bio-wrapper {
		  box-sizing: border-box;
		  padding: 28px 32px 16px;
		  margin: 0 auto;
		  color: var(--bg-contrast-color, #000);
	  
		  .name {
			font-size: 30px;
			letter-spacing: -1.5px;
			line-height: 40px;
		  }
	  
		  .bio {
			font-size: 14px;
			letter-spacing: -0.25px;
			line-height: 20px;
		  }
		}
	  }
	  
	  .yetti-cover-wrapper {
		height: 168px;
		position: absolute;
		width: 100%;
	  
		.yetti-photo {
		  animation: animate-cover-photo-kin 0.5s ease-in-out backwards;
		  height: 168px;
		  overflow: hidden;
	  
		  .bio-background {
			display: block;
			position: relative;
	  
			* {
			  height: 168px;
			  object-fit: cover;
			  width: 100%;
			}
		  }
		}
	  }
	  
	  .profile-wrapper .name-bio-wrapper .content {
		animation: animate-name-kin 0.3s 0.5s backwards;
		overflow: hidden;
	  }
	  
	  .social-links .social-link {
		animation: animate-social-kin 0.3s 0.7s backwards;
	  }
	  
	  .stories.carousel .story > .item-link {
		animation: animate-social-kin 0.5s 0.7s backwards;
	  }
	  
	  .picture-wrapper, .name-bio-wrapper {
		z-index: 20;
		position: relative;
	  }

	  .-align-center .profile-wrapper {
		//margin-bottom: 4.5rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: center;
		}
	  }
	  
	  .-align-center .profile-wrapper .name-bio-wrapper {
		text-align: center;
	  }
	  
	  .-align-right .profile-wrapper {
		//margin-bottom: 2rem;
	  
		.name-bio-wrapper, .bio, .content {
		  text-align: right;
		}
	  
		// .picture-wrapper {
		//   margin-right: 32px;
		// }
	  }
}
.banner-eon{
	

	@keyframes move-text-eon {
		0% {
		  transform: translateX(0);
		}
	  
		to {
		  transform: translateX(-100%);
		}
	  }
	  
	  @keyframes move-text-eon-right {
		0% {
		  transform: translateX(0);
		}
	  
		to {
		  transform: translateX(100%);
		}
	}
	.-name{
		white-space: nowrap;
		overflow: hidden;
		align-items: center;
		display: flex;
		flex-flow: row;
		.--name-inner{
			font-size: 36px;
			//line-height: 58px;
			text-align: center;
			font-weight: 400;
			position: relative;
			padding-right: 20px;
			display: flex;
			flex-flow: row;
			align-items: center;
			animation: move-text-eon 10s 1s linear infinite;
			color: var(--bg-contrast-color, #000);

			&.-no-banner{
				color: var(--bg-contrast-color, #000);
			}
			.--p{

			}

			.--deco{
				margin-left: 10px;
			}
		}
	}
	@keyframes animate-cover-photo-eon {
		0% {
		  height: 0;
		}
	  
		100% {
		  height: 420px;
		}
	  }
	  
	  @keyframes animate-profile-photo-eon {
		0% {
		  height: 0;
		}
	  
		100% {
		  height: 348px;
		}
	  }
	  
	  @keyframes animate-name-eon {
		0% {
		  transform: translateY(-60px);
		}
	  
		100% {
		  transform: translateY(0);
		}
	  }
	  
	  @keyframes scroll-name-eon {
		0% {
		  transform: translateX(0%);
		}
	  
		100% {
		  transform: translateX(-100%);
		}
	  }
	  
	  @keyframes animate-bio-eon {
		0% {
		  transform: translateY(100%);
		}
	  
		100% {
		  transform: translateY(0%);
		}
	  }
	  
	  @keyframes animate-social-eon {
		0% {
		  transform: scale(0);
		}
	  
		95% {
		  transform: scale(1.1);
		}
	  
		100% {
		  transform: scale(1);
		}
	  }
	  
	  @keyframes animate-link-eon {
		0% {
		  transform: translateY(30px);
		}
	  
		100% {
		  transform: translateY(0%);
		}
	  }
	  
	  .profile-wrapper {
		display: flex;
		flex-direction: column;
		margin-top: -490px;
		width: 100%;
	  
		.picture-wrapper {
		  height: 348px;
		  margin: 106px auto 0;
		  max-width: calc(100% - 96px);
		  overflow: hidden;
		  position: relative;
		  width: 284px;
		  z-index: 1;
	  
		  .picture {
			animation: animate-profile-photo-eon 0.6s 0.5s ease-in-out backwards;
			bottom: 0;
			height: 348px;
			max-width: 100%;
			overflow: hidden;
			position: absolute;
			width: 284px;
			border-radius: 30px;
	  
			img {
			  bottom: 0;
			  height: 348px;
			  display: block;
			  max-width: 100%;
			  object-fit: cover;
			  position: absolute;
			  width: 284px;
			}
		  }
		}
	  
		.name-bio-wrapper {
		  //margin-bottom: 12px;
		  margin-top: -454px;
		  z-index: 1;
		  color: var(--bg-contrast-color, #000);
	  
		  .name {
			animation: animate-name-eon 0.5s 0.2s ease-in-out backwards;
			border-bottom: 2px solid #000;
			border-top: 2px solid #000;
			font-size: 36px;
			font-weight: normal;
			line-height: 44px;
			margin: 12px 0 452px;
			white-space: nowrap;
		  }
		}
	  }
	  
	  body.is-dark .profile-wrapper .name-bio-wrapper .name {
		border-color: #fff;
	  }
	  
	  .profile-wrapper .name-bio-wrapper {
		.name .content {
		  animation: scroll-name-eon 5s 1s linear infinite;
		  padding-right: 10px;
		  display: inline-block;
		}
	  
		.bio {
		  font-size: 14px;
		  font-weight: 500;
		  letter-spacing: 0.005em;
		  line-height: 16px;
		  //text-transform: uppercase;
	  
		  //margin-bottom: 2rem;
		  padding: 0 32px;
	  
		  .content {
			animation: animate-bio-eon 0.5s 0.5s ease-in-out backwards;
		  }
		}
	  }
	  
	  .yetti-cover-wrapper {
		height: 420px;
		margin: 0 auto;
		max-width: calc(100% - 24px);
		overflow: hidden;
		margin-top: 70px;
		position: relative;
		width: 388px;
	  
		.yetti-photo {
		  animation: animate-cover-photo-eon 0.5s ease-in-out backwards;
		  height: 420px;
		  display: block;
		  max-width: 100%;
		  overflow: hidden;
		  position: absolute;
		  width: 388px;
		  z-index: 1;
	  
		  .bio-background {
			display: block;
			position: relative;
	  
			* {
			  border: 2px solid #000;
			  border-radius: 30px !important;
			  display: block;
			  max-width: 100%;
			  object-fit: cover;
			  position: absolute;
			  height: 420px;
			  top: 0;
			  width: 388px;
			}
		  }
		}
	  }	  
}

//

.goods-sell-group--container {
	--card-background-color: rgba(255, 242, 224, 1);
    --card-text-color: rgba(0, 0, 0, 1);
    --card-border-color: rgba(222, 219, 41, 0.01);
    --card-border-radius: 32;
    --float-card-background: rgba(255, 242, 224, 1);
    --float-card-text-color: rgba(0, 0, 0, 1);
    --button-text-color: rgb(255, 255, 255);
    --button-border-radius: 1;
    --button-bg: rgb(0, 0, 0);
    --card-gap: 16;
    --global-font-family: Nunito Sans;
    --global-gap: 24;
    --button-bg-type: color;
    --button-bg-color: rgba(241, 110, 40, 1);
    --global-font-style: normal;
    --global-font-weight: 300;
    --card-background-color-a40: rgba(255, 242, 224, 0.4);
    --card-background-color-a60: rgba(255, 242, 224, 0.6);
    --card-background-color-a08: rgba(255, 242, 224, 0.08);
    --card-background-color-a04: rgba(255, 242, 224, 0.04);
    --card-background-color-a20: rgba(255, 242, 224, 0.2);
    --card-text-color-a40: rgba(0, 0, 0, 0.4);
    --card-text-color-a60: rgba(0, 0, 0, 0.6);
    --card-text-color-a08: rgba(0, 0, 0, 0.08);
    --card-text-color-a04: rgba(0, 0, 0, 0.04);
    --card-text-color-a20: rgba(0, 0, 0, 0.2);
    --float-card-text-color-a08: rgba(0, 0, 0, 0.08);
    --float-card-text-color-a40: rgba(0, 0, 0, 0.4);
    --button-bg-a60: rgba(241, 110, 40, 0.6);
    --button-bg-a20: rgba(241, 110, 40, 0.2);
    padding: calc(var(--card-gap)*1px) 0;
    scroll-behavior: smooth;
  
    .goods-sell-group--preOrNext {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      background-color: transparent;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: none;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      height: 24px;
      left: 0;
      padding: 0 12px;
      pointer-events: none;
      position: absolute;
      top: calc(50% - 12px);
      width: 100%;
      z-index: 20;
  
      .goods-sell-group--icon {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        align-items: center;
        background-color: var(--card-background-color);
        border-radius: 100%;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 24px;
        -webkit-justify-content: center;
        justify-content: center;
        pointer-events: fill;
        width: 24px;
  
        svg {
          fill: var(--card-text-color);
        }
      }
  
      .goods-sell-group--place {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        pointer-events: none;
      }
    }
}

@media screen and (min-width: 749px) {
    .goods-sell-group--container:hover .goods-sell-group--preOrNext {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
}
  
.goods-sell-group--text {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    padding: 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
  
.goods-sell-group--layout-LIST_RIGHT, .goods-sell-group--layout-ROUND_CARD, .goods-sell-group--layout-SMALL_IMAGE {
    grid-gap: calc(var(--card-gap)*1px);
    display: grid;
    gap: calc(var(--card-gap)*1px);
}
  
.goods-sell-group--layout-BIG_IMAGE .goods-sell-group--elem + .goods-sell-group--elem, .goods-sell-group--layout-LARGE_IMAGE .goods-sell-group--elem + .goods-sell-group--elem {
    margin-top: calc(var(--card-gap)*1px);
}
  
.goods-sell-group--layout-GRID_TWO {
    grid-gap: calc(var(--card-gap)*1px);
    display: grid;
    gap: calc(var(--card-gap)*1px);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
  
.goods-sell-group--layout-IRREGULAR {
    grid-gap: calc(var(--card-gap)*1px);
    display: grid;
    gap: calc(var(--card-gap)*1px);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  
    .goods-sell-group--item:nth-child(3n+1) {
      div div div div div:has(button) {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 36px;
      }
  
      button {
        padding: 7px 8px !important;
      }
    }
}
  
.goods-sell-group--layout-GRID_THREE {
    grid-gap: 12px 8px;
    display: grid;
    gap: 12px 8px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
  
.goods-sell-group--layout-LIST {
    grid-gap: 8px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(var(--list-length), calc(40% - 6px));
    grid-template-rows: minmax(0, 1fr);
    overflow-x: auto;
}
  
.goods-sell-group--layout-LIST_HORIZONTAL {
    grid-gap: 8px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(var(--list-length), calc(80% - 9.6px));
    grid-template-rows: minmax(0, 1fr);
    overflow-x: auto;
}
  
.goods-sell-group--firstGrid {
    grid-column: span 2/auto;
    grid-row: span (2 / auto);
  
    div div div div div {
      div {
        -webkit-line-clamp: 1 !important;
      }
  
      span {
        font-size: 14px !important;
        font-weight: 5001 !important;
        line-height: 20px !important;
        padding: 6px 12px !important;
      }
    }
}

  //


  .goods-sell-group--layout-WATERFALL {
    grid-column-gap: 13px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 13px;
    -moz-column-gap: 13px;
    column-gap: 13px;
}
  
.goods-sell-group--hide {
    opacity: 0.4;
}
  
.goods-sell-group--no-show {
    display: none;
}
  
.goods-sell--container {
    display: block;
    width: 100%;
  
    &.goods-sell--WATERFALL {
      margin-bottom: 12px;
    }
  
    .goods-sell--btn-wrap {
      height: 28px;
      position: relative;
    }
  
    .goods-sell--btn {
      background: var(--button-bg);
	  color: var(--button-text-color);
      line-height: 14px !important;
      overflow: hidden;
      padding: 6px 8px !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
	  height: 35px;
  
      &.goods-sell--btnSoldOut {
        opacity: 0.4;
      }
    }
  
    .goods-sell--btn-ROUND_CARD {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 44px;
      padding-top: 8px;
      position: relative;
      width: 100%;
  
      .goods-sell--button {
        background: var(--button-bg);
		color: var(--button-text-color);
        font-size: 12px !important;
        line-height: 16px !important;
        overflow: hidden;
        padding: 9px !important;
        position: absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
		height: 35px;
      }
    }
  
    .goods-sell--footerWrap {
      -webkit-box-flex: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      grid-gap: 11px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 11px;
      padding: 8px 12px 12px;
  
      &.goods-sell--display-none {
        display: none;
      }
    }
  
    .goods-sell--mb6 {
      margin-bottom: 6px;
    }
}
  
.goods-sell--text {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-align: var(--goods-text-align);
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  
    &.goods-sell--GRID_THREE, &.goods-sell--IRREGULAR {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      white-space: normal;
      word-break: break-word;
    }
  
    .goods-sell--pre-price {
      font-size: 10px;
      opacity: .4;
      -webkit-text-decoration-line: line-through;
      text-decoration-line: line-through;
    }
}
  
.goods-sell--title-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


  ///
  .goods-sell--sell-point {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 4px;
    opacity: .6;
    overflow: hidden;
    text-align: var(--goods-text-align);
    white-space: normal;
    word-break: break-all;
}
  
.goods-sell--price-flex {
    width: calc(100% - 22px);
}
  
.goods-sell--price-small-image {
    -webkit-line-clamp: 1 !important;
    word-break: break-all !important;
}
  
.goods-sell--display-none {
    display: none !important;
}
  
.goods-sell--layout {
    border-radius: 0 !important;
}
  
.goods-sell--layout-column, .goods-sell--layout-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
  
.goods-sell--layout-column .goods-sell--image, .goods-sell--layout-list .goods-sell--image {
    display: block;
    position: relative;
}
  
.goods-sell--layout-column.goods-sell--BIG_IMAGE .goods-sell--btn-wrap, .goods-sell--layout-list.goods-sell--BIG_IMAGE .goods-sell--btn-wrap {
    height: 36px;
}
  
.goods-sell--layout-column.goods-sell--BIG_IMAGE .goods-sell--btn, .goods-sell--layout-list.goods-sell--BIG_IMAGE .goods-sell--btn {
    padding: 10px 8px !important;
}
  
.goods-sell--layout-column .goods-sell--text {
    &.goods-sell--GRID_TWO, &.goods-sell--LIST {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      white-space: normal;
      word-break: break-word;
    }
}
  
.goods-sell--layout-list .goods-sell--text {
    &.goods-sell--GRID_TWO, &.goods-sell--LIST {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      white-space: normal;
      word-break: break-word;
    }
}
  
.goods-sell--layout-column .goods-sell--text.goods-sell--WATERFALL, .goods-sell--layout-list .goods-sell--text.goods-sell--WATERFALL {
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    word-break: break-word;
}
  
.goods-sell--layout-column .goods-sell--footerWrap {
    &.goods-sell--GRID_THREE, &.goods-sell--LIST {
      grid-gap: 12px;
      gap: 12px;
    }
}
  
.goods-sell--layout-list .goods-sell--footerWrap {
    &.goods-sell--GRID_THREE, &.goods-sell--LIST {
      grid-gap: 12px;
      gap: 12px;
    }
}
  .goods-sell--layout-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 64px;
    width: 100%;
  
    &.goods-sell--ROUND_CARD {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 12px;
    }
  
    .goods-sell--image {
      height: var(--image-height);
      position: relative;
      width: var(--image-width);
  
      &.goods-sell--ROUND_CARD {
        border-radius: 40px;
        overflow: hidden;
      }
    }
  
    .goods-sell--text {
      -webkit-box-flex: 1;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 0;
      white-space: normal;
      word-break: break-word;
  
      &.goods-sell--GRID_THREE, &.goods-sell--GRID_TWO, &.goods-sell--IRREGULAR, &.goods-sell--LIST, &.goods-sell--LIST_RIGHT, &.goods-sell--SMALL_IMAGE, &.goods-sell--WATERFALL {
        -webkit-line-clamp: 2;
      }
    }
  
    .goods-sell--footerWrap {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      grid-gap: 11px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      gap: 11px;
      height: 152px;
      -webkit-justify-content: center;
      justify-content: center;
      padding: 12px;
  
      &.goods-sell--ROUND_CARD {
        height: 80px;
        padding: 0 0 0 12px;
      }
    }
  
    .goods-sell--title-wrap {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
  
      &.goods-sell--WATERFALL {
        -webkit-line-clamp: 2;
      }
    }
  
    .goods-sell--title.goods-sell--ROUND_CARD {
      margin-bottom: 0;
    }
  
    .goods-sell--only-title {
      -webkit-box-flex: 0;
      display: inline-block;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none;
  
      .goods-sell--title {
        margin-bottom: 0;
      }
    }
  
    .goods-sell--price {
      text-align: left !important;
    }
  
    .goods-sell--order1 {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
    }
  
    .goods-sell--order2 {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
    }
  
    .goods-sell--sold-out {
      &.goods-sell--SMALL_IMAGE {
        border-bottom-left-radius: calc(var(--card-border-radius)*1px);
        border-top-left-radius: calc(var(--card-border-radius)*1px);
      }
  
      &.goods-sell--LIST_RIGHT {
        border-bottom-right-radius: calc(var(--card-border-radius)*1px);
        border-top-right-radius: calc(var(--card-border-radius)*1px);
      }
    }
}
  
.goods-sell--iconBtn {
    background: var(--button-bg);
    border: 1px solid var(--button-border-color);
    border-radius: 50%;
    color: var(--button-text-color);
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
	width: 25px;
    flex: 0 0 25px;
}
  
.goods-sell--icon-badge {
    position: absolute;
    z-index: 2;
}
  
.goods-sell--icon-badge-bg {
    color: #fff;
    position: absolute;
    z-index: 1;
}
  
.goods-sell--price-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    .goods-sell--price {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1; 
      flex :1; 
    }
}
  
.goods-sell--sold-out {
    -webkit-box-align :center; 
    -ms-flex-align :center; 
    align-items :center; 
    background :hsla(0,0%,100%,0.4); 
    display :-webkit-box; 
    display :-webkit-flex; 
    display :-ms-flexbox; 
    display :flex; 
    height :100%; 
    -webkit-justify-content :center; 
    justify-content :center; 
    left :0; 
    position :absolute; 
    top :0; 
    width :100%; 
    z-index :2;

    &.goods-sell--ROUND_CARD {
      border-radius :50%; 
    }

     .goods-sell--tag {
		background: rgba(0, 0, 0, 0.4);
         border-radius :16px; 
         color :#fff; 
         font-size :12px; 
         font-weight :500; 
         line-height :17px; 
         padding :4px 8px; 
         text-align :center;

		&.goods-sell--ROUND_CARD { 
			font-size :11px; 
			line-height :15px; 
			padding :2px 4px;
		}

       &.goods-sell--BIG_IMAGE, &.goods-sell--LIST_HORIZONTAL { 
		font-size :14px; line-height :20px; padding :6px 12px;
	   }
    }
}
.image--content {
    border-radius: calc(var(--card-border-radius)* .8px);
    display: block;
    height: var(--image-height);
    line-height: var(--image-height);
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    width: var(--image-width);
}
.image--ratio {
    -o-object-position: var(--image-align);
    object-position: var(--image-align);
    overflow: hidden;
    padding-bottom: calc(var(--image-ratio)* 100%);
    position: relative;
    width: 100%;
	img{
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}