
.yena-sidebar{
	display: flex;
	flex-direction: column;
	z-index: var(--yena-zIndices-overlay);
	height: 100vh;
	position: fixed;
	top: 0px;
	width: 300px;
	min-width: 300px;
	background: var(--yena-colors-white);
	box-shadow: var(--yena-shadows-none);
	transform: translate(-100%, 0px);
	transition: transform 0.2s ease 0s;
	@media(min-width: 46em){
		position: sticky;
		box-shadow: var(--yena-shadows-none);
		transform: translate(0px, 0px);
	}

	&.-is-page{
		position: fixed;
		box-shadow: var(--yena-shadows-none);
		transform: translate(-100%, 0px);
	}

	&.is-short{
		width: 100px;
		min-width: 100px;
		.sidebar__spotlight{
			display: none;
		}
		.sidebar-search, .--folders{
			display: none;
		}
		.--divider-wrapper{
			// display: none;
			> div{
				justify-content: center;
			}
		}
		.yena-sidebar-inner{
			.sidebar-item {
				margin-bottom: var(--yena-space-3);
				> .--inner{
					justify-content: center;

					svg{
						height: 22px;
					}
					p{
						display: none;
					}
				}
			}
		}
	}
}
.yena-sidebar-inner{
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 100vh;
	padding: var(--yena-space-6);
	padding-top: var(--yena-space-2);
	padding-bottom: var(--yena-space-2);
	align-content: space-between;

	.sidebar-item{
		transition-timing-function: var(--yena-transition-easing-ease-out);
		cursor: pointer;
		display: inline-flex;
		appearance: none;
		-moz-box-align: center;
		align-items: center;
		user-select: none;
		position: relative;
		white-space: nowrap;
		vertical-align: middle;
		outline: transparent solid 2px;
		outline-offset: 2px;
		line-height: 1.2;
		transition-property: var(--yena-transition-property-common);
		transition-duration: var(--yena-transition-duration-normal);
		height: var(--yena-sizes-8);
		min-width: var(--yena-sizes-8);
		font-size: var(--yena-fontSizes-sm);
		padding-inline-start: var(--yena-space-2);
		padding-inline-end: var(--yena-space-3);
		text-decoration: none;
		width: 100%;
		border-radius: var(--yena-radii-md);
		-moz-box-pack: start;
		justify-content: flex-start;
		color: var(--yena-colors-gray-600);
		padding-top: var(--yena-space-1-5);
		padding-bottom: var(--yena-space-1-5);
		margin-bottom: var(--yena-space-1);

		&.active, &.--active{
			background-color: #000;
			background-color: var(--yena-colors-gray-100);
			color: #000;
		}

		&:hover{
			background-color: var(--yena-colors-gray-100);
			text-decoration: none;
		}
		> .--inner{
			display: flex;
			-moz-box-align: center;
			align-items: center;
			-moz-box-pack: start;
			justify-content: flex-start;
			flex-direction: row;
			width: 100%;
			svg{
				overflow: visible;
				box-sizing: content-box;
				//width: 14px;
				height: 17.5px;
			}

			p{
				margin-top: 0px;
				margin-inline-end: 0px;
				margin-bottom: 0px;
				margin-inline-start: 0.5rem;
				text-overflow: ellipsis;
				overflow-x: hidden;
				margin-left: var(--yena-space-2);
			}
		}
	}

	.sidebar-workspace{
		margin-top: 0.5rem;
		.--padded{
			display: inline-flex;
			appearance: none;
			-webkit-box-align: center;
			align-items: center;
			-webkit-box-pack: center;
			justify-content: center;
			user-select: none;
			position: relative;
			vertical-align: middle;
			outline-offset: 2px;
			line-height: 1.2;
			font-weight: 600;
			transition-property: var(--yena-transition-property-common);
			transition-duration: var(--yena-transition-duration-normal);
			height: var(--yena-sizes-10);
			min-width: var(--yena-sizes-10);
			font-size: var(--yena-fontSizes-md);
			width: 100%;
			color: var(--yena-colors-gray-800);
			cursor: pointer;
			padding-right: var(--yena-space-4);
			padding-left: 0;
			padding-right: 0;
			white-space: nowrap;
			outline: transparent solid 2px;
			border-radius: var(--yena-radii-md);
			background: var(--yena-colors-transparent);
			.--avatar{
				display: inline-flex;
				-webkit-box-align: center;
				align-items: center;
				-webkit-box-pack: center;
				justify-content: center;
				text-align: center;
				text-transform: uppercase;
				font-weight: var(--yena-fontWeights-medium);
				position: relative;
				flex-shrink: 0;
				--avatar-border-color: var(--yena-colors-white);
				vertical-align: top;
				width: var(--yena-sizes-8);
				height: var(--yena-sizes-8);
				font-size: calc(0.8rem);
				background-color: var(--yena-colors-orchid-300);
				color: var(--yena-colors-white);
				border-radius: var(--yena-radii-full);
				border-color: var(--avatar-border-color);
				.--icon{
					font-size: calc(0.8rem);
					line-height: 2rem;
				}
			}

			.--text{
				display: -webkit-box;
				align-items: flex-start;
				-webkit-box-pack: start;
				justify-content: flex-start;
				flex-direction: column;
				text-align: left;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: var(--yena-line-clamp);
				--yena-line-clamp: 1;
				margin-left: 0.5rem;
				p{
					font-size: var(--yena-fontSizes-sm);
					font-weight: 600;
					word-break: break-word;
					margin: 0px;
					padding: 0px;
					overflow: hidden;
					text-overflow: ellipsis;
					min-width: 0px;
				}
			}
		}
	}

	.sidebar-search{
		width: 100%;
		display: flex;
		position: relative;
		isolation: isolate;
		margin-top: var(--yena-space-4);

		.--icon{
			left: 0px;
			width: var(--yena-sizes-10);
			height: var(--yena-sizes-10);
			font-size: var(--yena-fontSizes-md);
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			-webkit-box-pack: center;
			justify-content: center;
			position: absolute;
			top: 0px;
			z-index: 2;
			pointer-events: none;

			svg{
				width: 1em;
				height: 1em;
				display: inline-block;
				line-height: 1em;
				flex-shrink: 0;
				color: var(--yena-colors-gray-300);
				vertical-align: middle;
			}
		}

		input{
			width: 100%;
			min-width: 0px;
			outline: transparent solid 2px;
			outline-offset: 2px;
			position: relative;
			appearance: none;
			transition-property: var(--yena-transition-property-common);
			transition-duration: var(--yena-transition-duration-normal);
			font-size: var(--yena-fontSizes-md);
			padding-inline-start: var(--yena-space-10);
			padding-inline-end: var(--yena-space-10);
			height: var(--yena-sizes-10);
			border-radius: var(--yena-radii-md);
			border-width: 1px;
			border-style: solid;
			border-image: initial;
			border-color: inherit;
			background: inherit;
		}

		.--right-element{
			right: 0px;
			width: var(--yena-sizes-10);
			height: var(--yena-sizes-10);
			font-size: var(--yena-fontSizes-md);
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			-webkit-box-pack: center;
			justify-content: center;
			position: absolute;
			top: 0px;
			z-index: 2;
			pointer-events: none;

			p{
				margin-right: var(--yena-space-6);
				font-weight: 600;
				color: var(--yena-colors-gray-400);
				font-size: var(--yena-fontSizes-sm);
				background: var(--yena-colors-gray-50);
				padding-inline-start: var(--yena-space-1);
				padding-inline-end: var(--yena-space-1);
				border-radius: var(--yena-radii-md);
			}
		}
	}
	
	.upgrade-plan{
		display: flex;
		flex-direction: column;
		border-top-width: 1px;
		bottom: 0px;
		background: var(--yena-colors-white);
		padding-top: var(--yena-space-6);
		padding-bottom: var(--yena-space-2);
		border-top-color: var(--yena-colors-blackAlpha-200);
		padding-inline-start: var(--yena-space-2);
		padding-inline-end: var(--yena-space-2);

		.--header{
			display: flex;
			-webkit-box-align: center;
			align-items: center;
			flex-direction: row;
			.--plan-card{
				display: inline-block;
				white-space: nowrap;
				vertical-align: middle;
				padding-inline-start: var(--yena-space-1);
				padding-inline-end: var(--yena-space-1);
				text-transform: uppercase;
				border-radius: var(--yena-radii-sm);
				font-weight: var(--yena-fontWeights-bold);
				--badge-bg: var(--yena-colors-trueblue-500);
				--badge-color: var(--yena-colors-white);
				bottom: 0px;
				right: 0px;
				background: linear-gradient(97deg, rgb(51, 0, 217) -10%, rgb(157, 32, 201) 56.82%, rgb(223, 122, 108) 120%);
				color: var(--yena-colors-whiteAlpha-900);
				text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px;
				font-size: 11px;
			}

			.--plan-text{
				font-size: var(--yena-fontSizes-sm);
				margin-left: 0.5rem;
			}
		}

		.--text{
			font-size: var(--yena-fontSizes-xs);
			color: var(--yena-colors-gray-500);
		}

		.--button{
			font-size: var(--yena-fontSizes-sm);
			margin-top: var(--yena-space-2);
			font-weight: var(--yena-fontWeights-bold);
			a {
				transition-property: var(--yena-transition-property-common);
				transition-duration: var(--yena-transition-duration-fast);
				transition-timing-function: var(--yena-transition-easing-ease-out);
				cursor: pointer;
				text-decoration: none;
				outline: transparent solid 2px;
				outline-offset: 2px;
				color: var(--yena-colors-trueblue-600);
			}
		}
	}
}
