:root{
	--brand-button-text: #FFFFFF;
    --color-text-lightest: #909090;
    --color-text-light: #717680;
    --color-text-default: #545861;
    --color-text-dark: #19283a;
    --color-text-very-dark: #2B2E33;
    --color-text-darkest: #191b1f;
    --color-text-badge: #ffffff;
    --color-text-feature-dark: #F7F9FA;
    --color-text-feature-light: #E4E7EB;
    --color-text-icon-text: #FFFFFF;
    --color-community-active-item-text-color: #fff;
    --color-community-sidebar-text-on-accent: #fff;
    --color-text-selector-active: #2B2E33;
    --color-text-date-blue: #506CF0;
    --color-text-chip: #4BA479;
    --color-text-placeholder: #545859;
    --text-brand-bg: #fff;
    --color-messaging-info-blue: #4262F0;
    --color-circle-button-text: #fff;
    --color-stroke-foreground: #2B2E33;
    --color-stroke-background: #E4E8EB;
    --color-text-link: #2563EB;
    --color-text-workflows-icon: #213EBD;
    --color-background-primary: #fff;
    --color-background-secondary: #f7f9fa;
    --color-background-tertiary: #F0F3F5;
    --color-background-overlay: #191b1f33;
    --color-background-overlay-dark: #E4E7EB;
    --color-background-overlay-light: #ffffffcc;
    --color-background-badge: #717680;
    --color-background-light-blue: #E3F2F9;
    --color-background-selector-active: #F7F9FA;
    --color-background-avatar-primary: #fff;
    --color-background-avatar-secondary: #D2D7DB;
    --color-background-disabled: #D2D7DB;
    --color-background-dark: #A5A9AD;
    --color-background-dark-button: #2B2E33;
    --color-background-feature: #22223B;
    --color-online-background: #22BB22;
    --color-background-banner: #2B2E33;
    --color-background-plus-banner: #191B1F;
    --color-background-toggle-active: #42464D;
    --color-background-toggle-inactive: #A5A9AD;
    --color-background-modal-overlay: #00000066;
    --color-background-text-editor-modifier: #1a1d21;
    --color-background-text-editor-modifier-hover: #2C2F33;
    --color-background-text-editor-modifier-active: #444649;
    --color-toggle-checked: #42464D;
    --color-toggle-unchecked: #A5A9AD;
    --color-toggle-circle-checked: #FFFFFF;
    --color-toggle-circle-unchecked: #FFFFFF;
    --color-toggle-fullscreen: #191B1F;
    --color-circle-button-background: #2B2E33;
    --color-circle-button-background-hover: #41464E;
    --color-ai-start: #506CF0;
    --color-ai-end: #AF81EA;
    --color-chip-background: #EDF6F1;
    --color-search-yellow-background: #ECE6B2;
    --color-background-workflows-icon-wrapper: #EEF0FA;
    --color-background-workflows-badge: #ECEFFD;
    --color-border-primary: #e4e7eb;
    --color-border-secondary: #717680;
    --color-border-tertiary: #fff;
    --color-border-dark: #D2D7DB;
    --color-border-darkest: #191b1f;
    --color-border-light: #9CA3AF;
    --color-border-input: #d2d7db;
    --color-border-hover: #F0F3F5;
    --color-border-selector-inactive: #D2D7DB;
    --color-border-disabled: #D2D7DB;
    --color-border-circle-button: #2B2E33;
    --color-border-circle-button-hover: #41464E;
    --color-community-sidebar-text: #545861;
    --color-community-sidebar-icon: #E4E7EB;
    --color-community-sidebar-icon-hover: #E4E7EB;
    --color-community-sidebar-badge-text: #ffffff;
    --color-community-sidebar-background: #fff;
    --color-community-sidebar-active-background: #506CF0;
    --color-community-sidebar-hover-background: #f0f3f5;
    --color-community-sidebar-badge-background: #e02f2f;
    --color-message-highlight-background: #f5a6070f;
    --color-community-sidebar-border: #E4E7EB;
    --color-community-switcher-new-community-button-icon: #ffffff66;
    --color-community-switcher-background: #ffffff;
    --color-community-switcher-new-community-button-bg: #ffffff1a;
    --color-event-sidebar-item: #e4e7eb;
    --color-ring-primary: #fff;
    --color-ring-secondary: #717680;
    --color-support-widget-background: #506CF0;
    --color-background-emoji-picker: 255, 255, 255;
    --color-background-emoji-picker-hover: 113, 118, 128;
    --color-text-emoji: 25, 40, 58;
    --color-sidebar-footer-live-indicator: #0F0C35;
    --color-community-header-background: #FFFFFF;
    --color-community-header-hover-background: #F7F9FA;
    --color-community-header-text: #545861;
    --color-community-header-active-text: #545861;
    --color-community-header-active-background: #f0f3f5;
    --color-feedback-error: #DC2626;
    --brand: #2b2e33;
    --brand-button-hover: #42474f;
    --brand-light: #42474f;
    --brand-dark: #141517;
    --color-gray-50: 247, 249, 250;
    --color-gray-100: 240, 243, 245;
    --color-gray-200: 228, 231, 235;
    --color-gray-300: 210, 215, 219;
    --color-gray-400: 165, 169, 173;
    --color-gray-500: 113, 118, 128;
    --color-gray-600: 84, 88, 97;
    --color-gray-700: 66, 69, 77;
    --color-gray-800: 43, 46, 51;
    --color-gray-900: 25, 27, 31;
    --text-secondary: rgb(84, 88, 97);
    --text-body: rgb(84, 88, 97);
    --text-body-100: rgb(43, 46, 51);
}
.text-xs-plus {
    font-size: 0.8125rem;
}
.h-8\.5 {
    height: 2.125rem;
}
.bg-c-sidebar {
    background-color: var(--color-community-sidebar-background);
}
.w-sidebar-v3 {
    width: 17.5rem;
}
.community__switcher {
  display: none;
  grid-area: community_switcher;
}

@media (min-width: 1024px) {
  .has-community-switcher .community__switcher {
    display: block;
  }
}

.community__content {
  background-color: var(--background-body);
  grid-area: community_content;
}

.standard-layout-v2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: main;
  max-width: 1340px;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .standard-layout-v2 {
    padding: 0 30px;
  }
}

@media (min-width: 992px) {
  .standard-layout-v2--has-sidebar {
    grid-template-columns: 230px 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "sidebar_left main";
  }
}

@media (min-width: 1200px) {
  .standard-layout-v2--has-sidebar.standard-layout-v2--no-right-sidebar {
    grid-template-columns: 256px 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "sidebar_left main";
  }
}

@media (min-width: 1440px) {
  .standard-layout-v2--has-sidebar.standard-layout-v2--no-right-sidebar {
    grid-template-columns: 256px 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "sidebar_left main";
  }
}

.has-bottom-banner .standard-layout-v2 {
  padding-bottom: 60px;
}

.standard-layout-v2 .main {
  min-width: 0;
  max-width: 100vw;
}

.has-bottom-banner .standard-layout-v2 .main__wrapper {
  margin-bottom: 100px;
}

.standard-layout-v2 .main__content {
  padding: 0;
  flex-direction: row;
}

@media (min-width: 768px) {
  .standard-layout-v2 .main__content {
    padding: 0 20px;
  }
}

@media (min-width: 992px) {
  .standard-layout-v2 .main__content {
    padding: 5px 0 0;
  }
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr;
  height: 100vh;
}

.sidebar--mobile-v2 {
  --tw-bg-opacity:1;
  background-color: rgba(var(--color-white), var(--tw-bg-opacity));
}

.sidebar--mobile {
  display: none;
}

.slideout-menu {
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0;
  width: calc(100% - 50px);
  min-height: 100vh;
  z-index: 0;
  display: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .sidebar--mobile__header {
    padding: 0 20px;
    height: 64px;
    border-bottom: 1px solid var(--mobile-menu-sidebar-border);

    .sidebar--mobile__settings a {
      opacity: .6;
      margin-left: 10px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .sidebar--mobile__content {
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: calc(100vh - 64px);
    overflow: scroll;
    padding: 0 14px 0 20px;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}

@media (min-width: 576px) {
  .slideout-menu {
    width: 340px;
  }
}

@media (min-width: 992px) {
  .slideout-menu {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .slideout-menu .sidebar--mobile__content {
    padding-bottom: 140px;
  }
}

.slideout-menu-left {
  left: 0;
}

@media (max-width: 991.98px) {
  .slideout-panel {
    position: relative;
    z-index: 1;
  }
}

.sidebar--mobile-v2 {
  .sidebar--mobile__header {
    display: none;
  }

  .sidebar--mobile__content {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.switcher__icon {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  margin-bottom: 12px;

  *:focus {
    outline: 0;
    border: 0;
  }

  .brand-icon__initial {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  &.active .brand-icon {
    outline-offset: 3px;
    outline: 2px solid var(--color-border-primary);
    border-radius: 8px;
  }

  .brand-icon {
    color: var(--brand-button-text);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.switcher__mobile {
  .community__logo {
    display: flex;
    align-items: center;

    span {
      &.community__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        height: 22px;
        width: 22px;
        background-color: var(--brand);
        border-radius: 4px;
        color: var(--white);
        font-size: 14px;
        font-weight: 500;
      }

      &.community__name {
        font-size: 16px;
        font-weight: 500;
        margin-right: 10px;
        font-family: var(--font-system-ui);
      }
    }
  }

  .mobile-switcher__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #eaeaea;
  }

  .mobile-switcher__wrapper {
    height: calc(100vh - 64px);
  }

  .mobile-switcher__scroll {
    height: 100%;
    overflow-x: scroll;
    padding-bottom: 140px;
  }

  .mobile-switcher__title {
    font-family: var(--font-system-ui);
    font-size: 16px;
    font-weight: 600;
  }

  .mobile-switcher__row {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    border-bottom: 1px solid #eaeaea;
  }

  .mobile-switcher__name {
    font-family: var(--font-system-ui);
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    color: var(--dark);
  }

  .mobile-switcher__url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-secondary);
    line-height: 1.2;
  }

  .dropdown-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    float: none;
    height: 100vh;
    background: #fff;
    border: 0;
    border-radius: 0;
    padding: 0;
    border-top: 1px solid var(--border-lightest);
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .dropdown-menu__inside {
    display: grid;
    grid-template-rows: 64px 1fr;
    padding: 0;
  }
}

@media (max-width: 767.98px) {
  .switcher__mobile .mobile-switcher__name {
    max-width: 220px;
  }
}

@media (max-width: 767.98px) {
  .switcher__mobile .mobile-switcher__url {
    max-width: 220px;
  }
}

div[role=button]:focus {
  outline: none;
}

.community__switcher-icon {
  padding-top: 2px;
}

.community__brand {
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .brand-icon {
    color: var(--brand-button-text);
    display: flex;
    margin-right: 10px;
    height: 36px;
    width: 36px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
}

.sidebar--mobile .community__brand .brand-icon {
  display: flex;
  float: left;
  margin-right: 10px;
}

.support-widget-onboarding:after {
  content: "";
  border-width: 10px;
  border-color: #506cf0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: var(--arrow-top, 172px);
  right: 18px;
}

button {
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.bg-brand {
  background-color: var(--brand);
}

.accordion {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.accordion__item {
  margin-bottom: 1.25rem;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0px;
  }
}

.accordion__item--shown {
  flex: 1 1 0%;
}

.accordion__item-title {
  display: block;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1.25rem;
  font-weight: 600;
  color: var(--color-text-darkest);
  letter-spacing: -0.444444px;
}

.accordion__item-title-icon {
  --tw-rotate:0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.accordion__item-title-icon--rotated {
  --tw-rotate:180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.accordion__item-check-icon {
  margin-right: 0.75rem;
  width: 16px;
  height: 16px;
  min-width: 16px;
}

.accordion__item-content {
  max-height: 0px;
  overflow: hidden;
}

.accordion__item-content--shown {
  max-height: 100%;
}

.checklist-segment {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: var(--color-background-primary);
  --tw-shadow:0px 4px 8px -2px rgba(25, 27, 31, 0.1), 0px 2px 4px -2px rgba(25, 27, 31, 0.05);
  --tw-shadow-colored:0px 4px 8px -2px var(--tw-shadow-color), 0px 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: #FFFFFF;
  min-height: 525px;
}

@media (min-width: 768px) {
  .checklist-segment {
    flex-wrap: nowrap;
  }
}

.checklist-segment__header {
  flex: 1 1 0%;
  border-bottom-width: 2px;
  border-color: var(--color-border-primary);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-color: #E4E7EB;
  min-width: 300px;
}

@media (min-width: 768px) {
  .checklist-segment__header {
    flex: none;
    border-bottom-width: 0px;
    border-right-width: 1px;
  }
}

.checklist-segment__title {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--color-text-dark);

  .icon {
    margin-left: 0.5rem;
    margin-right: 0.75rem;
    color: var(--color-text-dark);
    width: 24px;
    height: 24px;
  }
}

.checklist-segment__step-title {
  margin-bottom: 0.75rem;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 0.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--color-text-darkest);
  letter-spacing: -0.444444px;
}

.checklist-segment__step-title--active {
  background-color: var(--color-background-tertiary);
  background-color: #F0F3F5;
}

.checklist-segment__step-title-icon {
  margin-right: 0.75rem;
  width: 16px;
  height: 16px;
}

.checklist-segment__content {
  width: 100%;
  padding: 2rem;
}

.accordion-content {
  margin-bottom: 0.625rem;
  margin-left: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.accordion-content__text {
  color: var(--color-text-dark);
}

.accordion-content__button-container {
  margin-top: 1rem;
}

.accordion-section--title-section {
  margin-bottom: 1.5rem;
}

.accordion-section--title-section--title {
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--color-text-darkest);
}

.accordion-section--title-section--subtitle {
  color: var(--color-text-darkest);
}

.img-banner {
  position: relative;
}

@media (min-width: 768px) {
  .img-banner__img {
    border-radius: 0.5rem;
  }
}

.img-banner__title {
  position: absolute;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  --tw-text-opacity:1;
  color: rgba(var(--color-white), var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .img-banner__title {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .onboarding__img-banner-wrapper {
    margin-top: 1rem;
  }
}

.onboarding__content {
  padding: 1.25rem;
}

@media (min-width: 768px) {
  .onboarding__content {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.onboarding__checklist-wrapper {
  margin-bottom: 1.5rem;
}

.main__content {
  padding: 0px !important;
}

body {
  padding-bottom: env(safe-area-inset-bottom);
}

.standard-layout-v2__content {
  display: grid;
  grid-template-columns: 1fr min-content !important;
}

.standard-layout-v2 {
  .main__content:not(.main__header--small) {
    margin-top: 0px !important;
    padding-top: 0px !important;
    --tw-shadow:0 0 #0000 !important;
    --tw-shadow-colored:0 0 #0000 !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
  }

  .main__wrapper {
    margin-bottom: 0 !important;
    padding-bottom: 0;
  }
}

.icon-20-close:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.is-standard-layout-v2 .switcher__icon {
  .brand-icon, .brand-icon__initial {
    border-radius: 0.5rem;
  }
}

.standard-layout-v2 {
  margin: 0px;
  display: grid;
  max-width: none;
  gap: 0px;
  padding: 0px;
  grid-template-columns: 1fr !important;
  padding-bottom: 0 !important;
}

.standard-layout-v2--has-sidebar {
  gap: 0px !important;

  .standard-layout-v2__sidebar {
    display: none;
  }
}

@media (min-width: 1024px) {
  .standard-layout-v2--has-sidebar {
    grid-template-columns: 297px 1fr min-content !important;
  }

  .standard-layout-v2--has-sidebar-v3 {
    grid-template-columns: 281px 1fr min-content !important;
  }

  .standard-layout-v2--has-sidebar .standard-layout-v2__sidebar {
    display: block;
  }
}

.standard-layout-v2__content-wrapper {
  min-width: 0;
  min-height: calc(100dvh - 64px);
}

@media (min-width: 1024px) {
  .standard-layout-v2__content-wrapper {
    min-height: 100vh;
  }
}

.standard-layout-v2--no-right-sidebar {
  .standard-layout-v2__content {
    grid-template-columns: 1fr;
  }

  .main__content {
    display: block !important;
  }
}

.standard-layout-v2__sidebar {
  border-right-width: 1px;
  border-color: var(--color-border-primary);
  background-color: var(--color-background-primary);
  border-color: #E4E7EB;
  background-color: #FFFFFF;
}

.standard-layout-v2__content {
  display: block;
  width: 100%;
  padding: 1.5rem;
}

.standard-layout-v2__content--full {
  max-width: none !important;
  padding: 0px !important;
}

@media (min-width: 1024px) {
  .standard-layout-v2__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
  }
}
