
.--placeholder-skeleton{
	--skeleton-start-color: var(--yena-colors-gray-100);
	--skeleton-end-color: var(--yena-colors-gray-400);
	background: var(--skeleton-start-color);
	border-color: var(--skeleton-end-color);
	opacity: 0.7;
	-webkit-animation: 0.8s linear infinite alternate placehokder-animate-one;
	animation: 0.8s linear infinite alternate placehokder-animate-one;
	box-shadow: var(--yena-shadows-none);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	cursor: default;
	color: var(--yena-colors-transparent);
	pointer-events: none;
}

@-webkit-keyframes placehokder-animate-one {
  from {
    border-color: var(--skeleton-start-color);
    background: var(--skeleton-start-color);
  }

  to {
    border-color: var(--skeleton-end-color);
    background: var(--skeleton-end-color);
  }
}

@keyframes placehokder-animate-one {
  from {
    border-color: var(--skeleton-start-color);
    background: var(--skeleton-start-color);
  }

  to {
    border-color: var(--skeleton-end-color);
    background: var(--skeleton-end-color);
  }
}