
.white-box-wrap{

	.white-box{
		margin-bottom: 20px;
		background-color: #fff;
		border: 2px solid #E0E6EB;
		border-radius: 3px;

		.white-box-header{
			.white-box-sub-header{
				padding: 15px 20px 15px 40px;
				margin-bottom: 0px;
				border-bottom: 1px solid #e7eaf3;
				margin-top: 0px;
				position: relative;
				display: flex;
				align-items: center;
				&::before {
					content: "";
					width: 10px;
					height: 10px;
					background-color: #e5e2e2;
					//box-shadow: 8px 8px 0px rgba(169, 169, 169, 0.5), 0px 8px 0px rgba(169, 170, 174, 0.4);
					position: absolute;
					top: 20px;
					left: 15px;
					border-radius: 550px;
				}

				h3{
					color: #B1B5C3;
					margin: 0px;
					padding: 0px;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 14px;
				}
			}
		}

		.white-box-content{
			padding: 20px;
		}
	}
}
.wj-image-selector-w.is-120{
	height: 120px;

	&.is-overflow{
		width: 140px;
		flex: 0 0 140px;
	}

	.wj-image-selector-trigger{
		height: 100%;
	}
}

.small-card-images{
	text-align: center;
	position: relative;
	transition: all 0.2s ease;
	height: 120px;

	&.is-overflow{
		width: 140px;
		flex: 0 0 140px;
	}
	

	&:hover{
		.action-right, .action-left{			
			transform: translateX(0px);
			opacity: 1;
		}
	}

	.small-card-images-inner{
		position: relative;
		padding: 24px 20px;
		box-shadow: 0 10px 30px 0 rgba(115, 125, 146, 0.11), 0 1px 2px 0 rgba(160, 170, 185, 0.6);
		border-radius: 3px;
		background-color: #fff;
		transition: all 0.2s ease;
		height: 100%;

		img{
			height: 100%;
			width: 100%;
			object-fit: cover;
			border-radius: inherit;
		}
	}

	.action-right{
		right: 0px;
		color: #d24646;
		transform: translateX(-10px);
		border-radius: 0 0 0 5px;
	}

	.action-left{
		left: 0px;
		transform: translateX(10px);
		border-radius: 0 0 5px 0;
	}

	.action-right, .action-left{
		position: absolute;
		top: 0px;
		font-size: 14px;
		padding: 10px;
		text-decoration: none;
		line-height: 1;
		transition: all 0.2s ease;
		opacity: 0;
		z-index: 9999;
		outline: none;
		box-shadow: none;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
	}
}
.ws-period {
	border: 1px solid #E0E6F0;
	font-size: 14.4px;
	align-items: center;
	background-color: #fff;
	position: relative;
	margin-bottom: 15px;
	border-radius: 4px;
  }

.custom-day-work-periods{
	.add-custom-day-w {
		border: 3px dotted rgba(0, 0, 0, 0.1);
		margin-bottom: 15px;
		margin-right: 15px;
		width: 140px;
		flex: 0 0 140px;
		text-align: center;
		position: relative;
		cursor: pointer;
		display: block;
		outline: none;
		box-shadow: none;
		min-height: 115px;
		border-radius: 3px;
	  
		.add-custom-day-i {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		}
	  
		.add-day-graphic-w {
		  width: 60px;
		  height: 60px;
		  position: relative;
		  margin: 0px auto;
		}
	  
		.add-day-plus {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  border-radius: 50%;
		  height: 24px;
		  width: 24px;
		  background-color: #0937ff;
		  box-shadow: 0px 0px 0px 10px rgba(208, 213, 220, 0.3);
		  color: #fff;
		  transform: translate(-50%, -50%);
		  transition: all 0.2s cubic-bezier(0.25, 1.4, 0.5, 1.35);
	  
		  i {
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			font-size: 10px;
			transform: translate(-45%, -47%);
			transition: all 0.2s ease;
		  }
		}
	  
		&:hover {
		  border-color: #0937ff;
		  border-style: solid;
	  
		  .add-day-plus {
			box-shadow: 0px 0px 0px 15px rgba(208, 213, 220, 0.3);
			transform: translate(-50%, -50%) scale(1.2);
		  }
	  
		  .add-day-label {
			transform: translateY(5px);
		  }
		}
	  
		.add-day-label {
		  color: #0937ff;
		  font-weight: 500;
		  font-size: 19.2px;
		  margin-top: 5px;
		  white-space: nowrap;
		  transition: all 0.2s cubic-bezier(0.25, 1.4, 0.5, 1.35);
		}
	  
		&.os-loading {
		  //animation: animate_appointment_small_box 0.8s ease infinite;
	  
		  .add-day-plus {
			color: rgba(255, 255, 255, 0.4);
	  
			&:after {
			  display: block;
			  content: "";
			  width: 52px !important;
			  height: 52px !important;
			  border-bottom: 2px solid #0937ff;
			  border-left: 2px solid #0937ff;
			  border-top: 2px solid #0937ff;
			  border-right: 2px solid rgba(255, 255, 255, 0);
			  border-radius: 50%;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  animation: os-loading 700ms infinite linear;
			  background-color: transparent !important;
			}
		  }
		}
	  }
}
.custom-day-work-period{
	text-align: center;
	position: relative;
	transition: all 0.2s ease;
	width: 140px;
	flex: 0 0 140px;
	height: 120px;
	&:hover {
		transform: translateY(-5px);
		.custom-day-work-period-i{
			box-shadow: 0 15px 30px 0 rgba(108, 120, 143, 0.2), 0 1px 3px 0 rgba(170, 179, 197, 0.9);
		}
		.remove-custom-day, .edit-custom-day {
			transform: translateX(0px);
			opacity: 1;
		}
	}

	.remove-custom-day {
		right: 0px;
		color: #d24646;
		transform: translateX(-10px);
	}
	.edit-custom-day {
		left: 0px;
		transform: translateX(10px);
	}
	.remove-custom-day, .edit-custom-day {
		position: absolute;
		top: 0px;
		font-size: 14px;
		padding: 10px;
		text-decoration: none;
		line-height: 1;
		transition: all 0.2s ease;
		opacity: 0;
		z-index: 9999;
		outline: none;
		box-shadow: none;
	  }
	.custom-day-work-period-i{
		position: relative;
		padding: 24px 20px;
		box-shadow: 0 10px 30px 0 rgba(115, 125, 146, 0.11), 0 1px 2px 0 rgba(160, 170, 185, 0.6);
		border-radius: 3px;
		background-color: #fff;
		transition: all 0.2s ease;
		&::before {
			top: 50%;
			left: 0px;
			right: 0px;
			background-color: rgba(0, 0, 0, 0.05);
			height: 1px;
			position: absolute;
			content: "";
		}
	}
	.custom-day-month {
		font-size: 19.2px;
		line-height: 1;
		color: #9DA8D5;
	
	}
	.custom-day-number {
		font-size: 46px;
		font-weight: 500;
		line-height: 1;
		margin-bottom: 5px;
		color: #b2b2b2;
	}

	.custom-day-periods{
		padding-top: 10px;
		.custom-day-period {
			background-color: #eeeff5;
			color: #2D303A;
			color: #8894AF;
			padding: 4px;
			border-radius: 3px;
			font-weight: 500;
			font-size: 13px;
		}
	}
}



.weekday-schedule-w {
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  
	&:last-child {
	  border-bottom: none;
	}
  
	&.day-off {
	  .ws-day-name {
		color: #C45252;
  
		&:after {
		  width: 100%;
		}
	  }
  
	  .ws-head {
		&:hover .ws-day-name {
		  border-bottom-color: transparent;
		}
  
		.ws-day-hours, .wp-edit-icon {
		  display: none;
		}
	  }
  
	  .weekday-schedule-form {
		display: none;
	  }
	}
  
	.ws-head-w {
	  display: flex;
	  align-items: center;
	  justify-content: flex-start;
	}
  
	.ws-head {
	  flex: 1;
	  margin-left: 15px;
	  display: flex;
	  align-items: center;
	  position: relative;
	  cursor: pointer;
	  padding: 15px 0px;
  
	  .wp-edit-icon {
		font-size: 14px;
		color: #0937ff;
		position: absolute;
		top: 56%;
		right: 0px;
		transform: translate(0%, -50%);
	  }
  
	  &:hover .ws-day-name {
		border-bottom: 1px solid #38406d;
	  }
	}
  
	.ws-day-name {
	  color: #38406d;
	  font-size: 19px;
	  font-weight: 500;
	  position: relative;
	  margin-right: 20px;
	  border-bottom: 1px solid transparent;
  
	  &:after {
		width: 0%;
		background-color: #C45252;
		opacity: 0.7;
		height: 2px;
		top: 55%;
		left: 0px;
		position: absolute;
		transform: translateY(-50%);
		content: "";
		display: block;
	  }
	}
  
	.ws-day-hours {
	  text-align: right;
	  color: #8894AF;
	  font-size: 12px;
	  font-weight: 500;
	  margin-left: auto;
	  cursor: pointer;
	  padding-right: 25px;
  
	  span {
		display: inline-block;
		vertical-align: middle;
  
		&:hover {
		  color: #0937ff;
		}
  
		+ span {
		  margin-left: 5px;
		  border-left: 1px solid rgba(0, 0, 0, 0.05);
		  padding-left: 5px;
		}
	  }
	}
  
	&.is-editing .weekday-schedule-form {
	  display: block;
	}
  }
  
  .weekday-schedule-form {
	padding-bottom: 20px;
	padding-top: 5px;
	text-align: center;
	display: none;
  
	&.active {
	  display: block;
	}
  
	.ws-period-add {
	  border: 2px dashed #E0E6EB;
	  display: block;
	  background-color: #fff;
	  box-shadow: none;
	  padding: 5px;
	  margin: 0px;
	  color: #738db3;
	  font-weight: 500;
	  outline: none;
	  cursor: pointer;
	  width: 100%;
	  display: flex;
	  align-items: center;
	  position: relative;
	  border-radius: 4px;
  
	  &:hover {
		border-color: #0937ff;
		color: #0937ff;
	  }
  
	  .add-period-graphic-w {
		width: 30px;
		height: 30px;
		position: relative;
  
		.add-period-plus {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  border-radius: 50%;
		  height: 15px;
		  width: 15px;
		  transform: translate(-50%, -50%);
  
		  i {
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			font-size: 18px;
			transform: translate(-50%, -50%);
		  }
		}
	  }
  
	  .add-period-label {
		color: #8894AF;
		font-weight: 500;
		font-size: 16px;
		margin-left: 5px;
	  }
  
	  &.os-loading {
		.latepoint-icon {
		  display: none !important;
		}
  
		&:after {
		  display: block;
		  content: "";
		  width: 14px;
		  height: 14px;
		  border-bottom: 2px solid #0937ff;
		  border-left: 2px solid #0937ff;
		  border-top: 2px solid #0937ff;
		  border-right: 2px solid rgba(255, 255, 255, 0);
		  border-radius: 20px;
		  position: absolute;
		  top: 50%;
		  left: 20px;
		  transform: translate(-50%, -50%);
		  animation: os-loading 700ms infinite linear;
		}
	  }
	}
  }
  .wj-time-group {
    margin: 0px;
    margin-bottom: 15px;
  
    .wj-time-input-fields {
      display: flex;
      align-items: center;
    }
  
    .time-ampm-w {
      display: flex;
      background: #F5F6FA;
      border: 1px solid #E0E6F0;
      border-radius: 4px;
      margin-left: 5px;
  
      .time-ampm-select {
        padding: 4px 5px 5px 5px;
        line-height: 1;
        font-weight: 500;
        color: #8894AF;
        cursor: pointer;
        font-size: 14.4px;
  
        &.active {
          background: #FFFFFF;
          box-shadow: 0px 0px 0px 1px #0937ff, 0 1px 2px 0 rgba(46, 87, 243, 0.18);
          border-radius: 4px;
          color: #0937ff;
        }
      }
    }
  
    label {
      display: block;
      margin: 0px;
      font-size: 16px;
      color: #9A9FB1;
      font-weight: 500;
    }
  
    .wj-form-control {
      font-size: 14px;
      flex: 0 0 60px;
      padding: 3px 2px !important;
      line-height: 1;
      margin: 0px;
      border: 1px solid #EDEFF6;
      background-color: #EDEFF6;
      border-radius: 3px;
      text-align: center;
      box-shadow: none;
      width: 90px;
      max-width: 90px;
  
      &:focus {
        border-color: #0937ff;
      }
    }
  
    + .wj-time-group {
      border-top: 1px solid #E0E6F0;
    }
  
    &.as-period {
      display: flex;
      align-items: center;
      padding: 8px;
      margin-bottom: 0px;
  
      label {
        padding-right: 10px;
        padding-left: 5px;
      }
  
      input.wj-form-control {
        margin-left: auto;
      }
  
      .wj-time-input-fields {
        margin-left: auto;
        justify-content: flex-end;
      }
    }
  }

  
.book-services{
	.book-service-group{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 19px 18px;
		background: #F8F8F8;
		border-radius: 15px;

		.book-service-name{
			font-weight: 500;
			font-size: 14px;
			line-height: 21px;
			text-align: justify;
			color: #ABAAB1;
		}

		.book-service-price{

			font-weight: 500;
			font-size: 14px;
			line-height: 21px;
			text-align: justify;
			color: #432BDF;
		}
	}
}





// Calendar

.wj-bookings-daily{

}

.daily-agent-monthly-calendar-w {
  padding: 15px;
  margin-bottom: 30px;

  .snd-weekdays {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .weekday {
      text-transform: uppercase;
      font-size: 11.2px;
      color: #6f8aff;
      font-weight: 500;
      letter-spacing: 2px;
      width: 14.2%;
      text-align: center;
      padding: 5px 0px;

      &.weekday-6, &.weekday-7 {
        color: #ccb63b;
        background-color: #fffef2;
      }
    }
  }

  .snd-current-month-label-w {
    position: relative;

    .cc-location-selector {
      margin-left: auto;
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .snd-month-prev-btn, .snd-month-next-btn {
      position: absolute;
      border: none;
      font-size: 14px;
      background-color: transparent;
      box-shadow: none;
      outline: none;
      color: #111;
      top: 55%;
      transform: translateY(-50%);
      padding: 0px;
      margin: 0px;
      line-height: 1;
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;
    }

    .snd-month-prev-btn.snd-loading, .snd-month-next-btn.snd-loading {
      color: transparent !important;
    }

    .snd-month-prev-btn.snd-loading {
      span, i {
        color: transparent !important;
      }
    }

    .snd-month-next-btn.snd-loading {
      span, i {
        color: transparent !important;
      }
    }

    .snd-month-prev-btn.snd-loading:after, .snd-month-next-btn.snd-loading:after {
      display: block;
      content: "";
      width: 14px;
      height: 14px;
      border-bottom: 2px solid #38406d;
      border-left: 2px solid #38406d;
      border-top: 2px solid #38406d;
      border-right: 2px solid rgba(0, 0, 0, 0);
      border-radius: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: snd-loading 700ms infinite linear;
    }

    .snd-month-prev-btn:hover, .snd-month-next-btn:hover {
      color: #0937ff;
    }

    .snd-month-prev-btn.disabled, .snd-month-next-btn.disabled {
      color: rgba(0, 0, 0, 0.1);
    }

    .snd-month-prev-btn {
      left: 5px;
    }

    .snd-month-next-btn {
      right: 5px;
    }

    .snd-current-month-label {
      text-align: center;
      font-weight: 500;
      font-size: 17.6px;
      color: #2D303A;
      margin-bottom: 15px;

      .current-day {
        display: inline-block;
        vertical-align: middle;
      }

      .current-year {
        display: inline-block;
        vertical-align: middle;
        color: rgba(45, 48, 58, 0.4);
        margin-left: 3px;
      }

      .current-month {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .snd-monthly-calendar-days-w {
    display: none;

    &.active {
      display: block;
    }
  }

  .snd-monthly-calendar-days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //box-shadow: 0px 3px 0px #e2e5f1;
    gap: 1rem;

    .snd-day {
      width: 14.2%;
      padding: 2.3%;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;

      @media(max-width: 768px){
      	width: auto;
        flex: 0 0 40px;
      }

	  &.is-f{
		width: auto;
	  	flex: 0 0 40px;
	  }
      &.week-day-6, &.week-day-7 {
        background-color: #000;
        .snd-day-number, .snd-day-weekday{
          color: #fff;
        }
      }

      &.snd-day-next-month, &.snd-day-prev-month {
        color: #B7BCCB;
        background-color: #fff;
      }

      &.snd-day-current .snd-day-box {
        background-color: #f5f6fb;
      }

      &.snd-day-passed .snd-day-box {
        background-color: #f5f6fb;

        .snd-day-number {
          color: #B7BCCB;
        }
      }

      &.snd-today .snd-day-box {
        background-color: #fff6cb;
      }

      &.snd-month-next .snd-day-box, &.snd-month-prev .snd-day-box {
        opacity: 0.4;
      }

      &.snd-month-next .snd-day-box:hover, &.snd-month-prev .snd-day-box:hover {
        opacity: 1;
      }

      .snd-day-box {
        padding-bottom: 100%;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
      }

      .snd-day-number {
        
      }

      &:hover .snd-day-box .snd-day-number {
        font-size: 19px;
      }

      &.selected .snd-day-box {
        background-color: #0937ff;
        color: #fff;

        .snd-day-number {
          font-size: 19px;
          color: #fff;
        }

        .snd-day-status {
          //display: none;
        }
      }
    }
  }

  .snd-day-status {
    margin: 0px;
    margin-top: 10px;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
    bottom: 3px;
    left: 3px;
    right: 3px;
    transition: all 0.3s ease;
    position: absolute;
    background-color: #e2e5f1;

    .day-available {
      background-color: #80dc6e;
      top: 0px;
      bottom: 0px;
      position: absolute;
      z-index: 1;
      min-width: 3px;
    }
  }

  &.horizontal-calendar {
    padding: 0px;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 20px;

    .snd-months {
      //border: 1px solid #eee;
      border-bottom: none;
      border-radius: 0px;
      @media(max-width: 768px){
      	overflow: auto;
				padding-bottom: 16px;
				margin-right: -15px;
				margin-left: -15px;
      }
    }

    .snd-monthly-calendar-days .snd-day.snd-day-passed .snd-day-box .snd-day-number {
      color: #525765;
    }

    .snd-current-month-label-w {
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 15px;

      .snd-current-month-label {
        font-size: 30px;
        margin: 0px;
        padding: 0px;
        line-height: 1;
        position: relative;
        color: #0937ff;

        .current-day {
          z-index: 2;
        }

        .current-month {
          z-index: 2;
          position: relative;
        }

        .current-year {
          font-weight: 500;
          color: rgba(45, 48, 58, 0.07);
          position: absolute;
          font-size: 100px;
          line-height: 100px;
          bottom: -7px;
          display: block;
          margin: 0px;
          left: -0px;
          z-index: 1;
        }
      }

      .snd-month-service-selector {
        margin-left: auto;
        margin-right: 20px;
        display: flex;
        align-items: center;
        padding-right: 20px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);

        label {
          margin-right: 5px;
          display: block;
          margin-left: auto;
          color: #8894AF;
        }

        input {
          display: block;
        }
      }

      .snd-month-control-buttons-w {
        position: relative;
        display: flex;
        justify-content: space-between;

        .snd-month-prev-btn, .snd-month-next-btn {
          position: relative;
          bottom: auto;
          top: auto;
          left: auto;
          right: auto;
          transform: none;
          padding: 3px 2px;
        }

        .snd-month-today-btn {
          margin: 0px 15px;
          padding: 5px 10px;
        }
      }
    }

    .snd-monthly-calendar-days {
      flex-wrap: nowrap;

      .snd-day {
        //padding: 0px;
        //border-right: 1px solid #eee;
        overflow: visible;
        padding: 10px;
        flex: 0 0 65px;
        border-radius: 13px;
        background: #fff;

        &.disabled{
          opacity: 0.5;
          background-color: #cccccc;
          color: #666666;
        }

        &:hover {
          .snd-day-status {
            height: 7px;
          }

          .snd-day-number {
            //transform: translate(-50%, -60%);
          }
        }

        &:last-child {
          border-right: none;
        }

        &.selected {
          border: 2px solid;
          z-index: 2;

          .snd-day-weekday {
            color: rgb(0, 0, 0) !important;
          }

          .snd-day-box {
            //background-color: #0937ff;
            border-radius: 0px;

            .snd-day-status {
              //display: block;
            }

            .snd-day-number {
              color: rgb(0, 0, 0);
            }
          }
        }

        &.week-day-6, &.week-day-7{
          &.selected {
            border-color: #ffabab;

            .snd-day-weekday {
              color: rgb(255, 255, 255) !important;
            }
            .snd-day-number {
              color: rgb(255, 255, 255);
            }
          }
        }

        .snd-day-box {
          padding: 0px;
          border-radius: 0px;
          background-color: transparent;
          overflow: visible;
        }

        .snd-day-weekday {
          color: rgba(0, 0, 0, 0.4);
          font-size: 9px;
          font-weight: 500;
          padding: 8px 0px 0px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        .snd-day-status {
          bottom: -3px;
          margin: 0px;
          left: -1px;
          right: -1px;
          border-radius: 0px;
          height: 3px;
          transition: none;
        }

        .day-status{
        	bottom: -3px;
					margin: 0px;
					left: -1px;
					right: -1px;
					border-radius: 0px;
					height: 3px;
					transition: none;
        }

        .snd-day-number {
          font-size: 16px;
          top: 42%;
        }

        &.week-day-6, &.week-day-7 {
          background-color: #000;
          .snd-day-number, .snd-day-weekday{
            color: #fff;
          }
        }

        &.week-day-6 .snd-day-weekday, &.week-day-7 .snd-day-weekday {
          //color: #b9997d;
        }
      }
    }
  }
}
.wj-bookings-daily {
  &.os-loading {
    .no-results-w .icon-w {
      position: relative;

      &:before {
        display: block;
        content: "";
        width: 20px !important;
        height: 20px !important;
        border-bottom: 2px solid #0937ff;
        border-left: 2px solid #0937ff;
        border-top: 2px solid #0937ff;
        border-right: 2px solid rgba(255, 255, 255, 0);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: os-loading 700ms infinite linear;
        background-color: transparent !important;
      }

      .latepoint-icon {
        color: transparent;
      }
    }

    .ch-filter {
      .ch-filter-trigger {
        display: none;
      }

      &:before {
        display: block;
        content: "";
        width: 20px !important;
        height: 20px !important;
        border-bottom: 2px solid #0937ff;
        border-left: 2px solid #0937ff;
        border-top: 2px solid #0937ff;
        border-right: 2px solid rgba(255, 255, 255, 0);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: os-loading 700ms infinite linear;
        background-color: transparent !important;
      }
    }
  }

  .calendar-hours {
    position: relative;
  }

  .ch-filter {
    border: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-right: none;
    height: 50px;
    margin-bottom: 20px;
    position: relative;

    .ch-filter-trigger {
      width: 5px;
      top: 50%;
      left: 50%;
      background-color: rgba(0, 0, 0, 0.3);
      height: 5px;
      position: absolute;
      transform: translate(-50%, -50%);
      box-shadow: 8px 0px 0px rgba(0, 0, 0, 0.3), -8px 0px 0px rgba(0, 0, 0, 0.3);
      border-radius: 1px;
    }
  }

  .da-head-agents {
    display: flex;
    height: 50px;
    margin-bottom: 20px;
  }

  .ch-agents {
    flex: 1;
    position: relative;
  }

  .da-agents-bookings {
    display: flex;

    .da-agent-bookings-and-periods {
      flex: 1;
      position: relative;
    }
  }

  .da-head-agent {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    flex: 1;
    background-color: transparent;
    position: relative;

    &:first-child:before {
      content: "";
      position: absolute;
      bottom: -21px;
      left: -1px;
      height: 20px;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -21px;
      right: -1px;
      height: 20px;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.05);
    }

    .da-head-agent-avatar {
      width: 30px;
      height: 30px;
      border-radius: 20px;
      background-size: cover;
      background-position: center center;
      margin-right: 10px;
      margin-left: auto;
    }

    .da-head-agent-name {
      text-decoration: none;
      color: #2D303A;
      border-bottom: 1px dotted rgba(9, 55, 255, 0.4);
      font-weight: 500;
      margin-right: auto;
      white-space: nowrap;

      &:hover {
        color: #0937ff;
      }
    }
  }
}

.daily-agent-calendar-w.make-scrollable {
  .ch-agents {
    overflow: auto;
  }

  .da-head-agent, .da-agents-bookings .da-agent-bookings-and-periods {
    flex: 0 0 240px;
  }

  .da-agent-bookings-and-periods:first-child .ch-day-periods .chd-period .chd-period-minutes-value {
    left: auto;
    right: 0px;
    transform: translate(100%, -50%);
  }
}

.wj-bookings-daily {
  .da-head-agent .da-head-agent-name {
    max-width: 130px;
    overflow: hidden;
  }

  &.is-single {
    .wj-bookings-daily-contents {
      display: flex;
      padding-top: 30px;
    }

    .daily-agent-calendar-w {
      flex: 1;
    }

    .daily-agent-side {
      flex: 0 0 420px;
      width: 420px;
    }
  }

  &.os-loading .daily-agent-monthly-calendar-w .os-monthly-calendar-days .os-day.selected .os-day-box {
    position: relative;

    .os-day-number {
      display: none;
    }

    &:after {
      display: block;
      content: "";
      width: 14px !important;
      height: 14px !important;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      border-top: 2px solid #fff;
      border-right: 2px solid rgba(255, 255, 255, 0);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: os-loading 700ms infinite linear;
      background-color: transparent !important;
    }
  }
}

.calendar-daily-head-w {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  .calendar-daily-target-date {
    color: #8894AF;
    font-size: 22.4px;
    font-weight: 500;
    line-height: 1.43;

    &.agent-has-day-off {
      color: #ec7e70;
    }
  }

  label {
    margin-left: auto;
    margin-right: 5px;
    color: #8894AF;
  }
}
.calendar-daily-agent-w .calendar-hours {
  display: flex;

  .ch-hours {
    flex: 0 0 61px;
    border-right: 1px solid #ddd;

    .chh-period {
      height: 20px;
      vertical-align: middle;
      text-align: right;
      line-height: 20px;
      font-size: 12.8px;
      color: #AAB1CB;
      font-weight: 500;

      &.last-period {
        height: 1px !important;
      }

      &.chh-period-minutes {
        position: relative;

        span {
          display: none;
        }

        &:before {
          content: "";
          height: 1px;
          width: 3px;
          background-color: rgba(0, 0, 0, 0.2);
          position: absolute;
          top: -1px;
          right: -2px;
        }
      }

      &.chh-period-hour {
        position: relative;
        padding-right: 10px;

        span {
          transform: translateY(-50%);
          display: block;
        }

        &:before {
          content: "";
          height: 1px;
          width: 5px;
          background-color: rgba(0, 0, 0, 0.6);
          position: absolute;
          top: 0px;
          right: -3px;
        }
      }

      &.chh-period-disabled {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
  }

  .ch-day-periods {
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;

    .chd-period {
      height: 20px;
      position: relative;
      cursor: copy;

      &.chd-period-off {
        background-image: repeating-linear-gradient(90deg, #fff, #fff 4px, #f3d3d3 4px, #f3d3d3 5px);
        background-image: repeating-linear-gradient(90deg, #fff, #fff 2px, #f7b0b0 2px, #f7b0b0 3px);

        &:hover {
          &:before {
            border-top-color: #E42806;
          }

          .chd-period-minutes-value {
            background-color: #E42806;
            color: #fff;
          }
        }
      }

      &:before {
        content: "";
        height: 1px;
        top: -1px;
        position: absolute;
        left: 0px;
        right: 0px;
        border-top: 1px dashed transparent;
        z-index: 999;
      }

      .chd-period-minutes-value {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 9999;
        transform: translate(-100%, -50%);
        padding: 3px 5px;
        border-radius: 4px;
        font-size: 12.8px;
        font-weight: 500;
        background-color: #0937ff;
        color: #fff;
        display: none;
      }

      &.os-loading .chd-period-minutes-value {
        color: transparent;

        &:after {
          display: block;
          content: "";
          width: 14px !important;
          height: 14px !important;
          border-bottom: 2px solid #fff;
          border-left: 2px solid #fff;
          border-top: 2px solid #fff;
          border-right: 2px solid rgba(255, 255, 255, 0);
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: os-loading 700ms infinite linear;
          background-color: transparent !important;
        }
      }

      &:hover {
        .chd-period-minutes-value {
          display: block;
        }

        &:before {
          border-top-color: #0937ff;
        }
      }

      &.last-period {
        height: 1px !important;
      }

      &.chd-period-hour {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
      }

      &.chd-period-disabled {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }

    &.ch-day-tue, &.ch-day-thu {
      background-color: #fafbfd;
    }
  }

  .ch-day-booking {
    padding-top: 3px;
    position: absolute;
    left: 5px;
    right: 5px;
    text-align: left;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #fff;
    min-height: 60px;

    .ch-day-booking-i{
      height: 100%;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: 3px solid #f4f4f4;
      box-shadow: 0px 5px 20px rgba(126, 142, 177, 0.2);
    }

    &:hover {
      left: 0px;
      right: 0px;
      min-height: 60px;

      .booking-time {
        //color: rgba(255, 255, 255, 0.9);
      }
    }

    .ch-day-buffer-before {
      position: absolute;
      border: 1px dashed rgba(0, 0, 0, 0.15);
      border-bottom: none;
      border-radius: 4px 4px 0px 0px;
      z-index: -1;
      left: 0px;
      right: 0px;
      top: 0px;
      transform: translateY(-100%);
    }

    .ch-day-buffer-after {
      position: absolute;
      border: 1px dashed rgba(0, 0, 0, 0.15);
      border-top: none;
      border-radius: 0px 0px 4px 4px;
      z-index: -1;
      left: 0px;
      right: 0px;
      bottom: 0px;
      transform: translateY(100%);
    }

    .booked-percentage {
      width: 70px;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 2px;
      margin: 0px auto;
      margin-top: 2px;

      .booked-bar {
        background-color: #fff;
        border-radius: 2px;
        height: 6px;
      }
    }

    .booking-attendies {
      font-size: 10.4px;
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      position: absolute;
      bottom: 5px;
      right: 5px;
      line-height: 1.2;

      span {
        color: #fff;
      }
    }

    .booking-service-name {
      color: #525765;
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-align: left;
    }

    .booking-time {
      color: #525765;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.2;
    }

    &.os-loading {
      animation: animate_appointment_small_box 0.8s ease infinite;

      &:after {
        display: block;
        content: "";
        width: 14px !important;
        height: 14px !important;
        border-bottom: 2px solid #0937ff;
        border-left: 2px solid #0937ff;
        border-top: 2px solid #0937ff;
        border-right: 2px solid rgba(255, 255, 255, 0);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: os-loading 700ms infinite linear;
        background-color: transparent !important;
        left: -10px;
      }
    }
  }
}

.calendar-month-agents-w {
  position: relative;

  &.os-loading {
    .ma-days-with-bookings-i {
      opacity: 0.5;
    }

    &:after {
      display: block;
      content: "";
      width: 24px !important;
      height: 24px !important;
      border-bottom: 2px solid #0937ff;
      border-left: 2px solid #0937ff;
      border-top: 2px solid #0937ff;
      border-right: 2px solid rgba(255, 255, 255, 0);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: os-loading 700ms infinite linear;
      background-color: transparent !important;
      top: 25px;
      left: 40px;
      z-index: 999;
    }

    .ma-head-info {
      color: transparent;

      span + span {
        border-top-color: transparent;
      }
    }
  }

  .ma-head {
    display: flex;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 80px;
    right: 0px;
  }

  .ma-head-info {
    padding: 12px 15px 5px 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    width: 80px;
    height: 52px;
    font-weight: 500;
    font-size: 11.2px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ddd;
    position: relative;

    span {
      display: block;

      + span {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  .ma-head-agent {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    flex: 0 0 249px;
    background-color: #fff;

    .ma-head-agent-avatar {
      width: 30px;
      height: 30px;
      border-radius: 20px;
      background-size: cover;
      background-position: center center;
      margin-right: 10px;
      margin-left: auto;
    }

    .ma-head-agent-name {
      font-weight: 500;
      margin-right: auto;
      white-space: nowrap;
    }
  }

  .ma-month-label {
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;

    div {
      padding: 3px;
      background-color: #0937ff;
      flex: 0 0 250px;
      color: #0937ff;
      box-shadow: 0px -1px 0px #0937ff, 0px 1px 0px #0937ff;
      position: relative;
      z-index: 2;
    }
  }

  .ma-floated-days-w {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    border-right: 1px solid #c1c1c1;

    .ma-month-label {
      display: block;

      div {
        flex: 1;
        color: #fff;
      }
    }

    .ma-day {
      display: flex;
      height: 35px;

      .ma-day-info {
        display: flex;
        align-items: stretch;
        font-size: 11.2px;
        font-weight: 500;
        flex: 0 0 80px;

        .ma-day-number {
          border-right: 1px solid #eee;
          flex: 0 0 30px;
          line-height: 35px;
          text-align: center;
          background-color: #fff;
        }

        .ma-day-weekday {
          text-transform: uppercase;
          letter-spacing: 2px;
          text-align: center;
          flex: 0 0 50px;
          color: rgba(0, 0, 0, 0.3);
          line-height: 35px;
          background-color: #fff;
        }
      }
    }
  }

  .ma-days-with-bookings-w {
    padding-left: 80px;
    position: relative;
    overflow-x: auto;

    .ma-days-with-bookings-i {
      padding-top: 52px;
    }

    .ma-day {
      display: flex;
      height: 35px;

      &:hovers {
        box-shadow: 0px 0px 0px 2px #6b9fff;
        z-index: 2;
        position: relative;
        background-color: #fff !important;

        .ma-day-agent-bookings {
          border-left: 1px solid rgba(0, 0, 0, 0.3);
        }
      }

      .ma-day-agent-bookings {
        border-right: 1px solid #d8d8d8;
        flex: 0 0 249px;
        position: relative;

        .ma-day-off {
          top: 0px;
          bottom: 0px;
          position: absolute;
          background-image: repeating-linear-gradient(90deg, #fff, #fff 4px, #f3d3d3 4px, #f3d3d3 5px);
          background-image: repeating-linear-gradient(90deg, #fff, #fff 2px, #f7b0b0 2px, #f7b0b0 3px);
          left: 0px;
          right: 0px;

          span {
            position: absolute;
            top: 50%;
            left: 50%;
            color: #fff;
            padding: 3px 4px;
            line-height: 1.1;
            background-color: #e02727;
            display: none;
            transform: translate(-50%, -50%);
            font-size: 9px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1px;
          }

          &:hover span {
            display: block;
          }
        }

        .ma-day-booking {
          top: 12px;
          bottom: 12px;
          position: absolute;
          cursor: pointer;
          box-shadow: inset -1px 0px 0px 0px #fff;

          &.os-loading {
            top: 10px;
            bottom: 10px;

            &:after {
              display: block;
              content: "";
              width: 14px !important;
              height: 14px !important;
              border-bottom: 2px solid #fff;
              border-left: 2px solid #fff;
              border-top: 2px solid #fff;
              border-right: 2px solid rgba(255, 255, 255, 0);
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              animation: os-loading 700ms infinite linear;
              background-color: transparent !important;
            }
          }

          .appointment-box-small {
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translate(-50%, -120%);
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s ease;
            display: block;
            align-items: flex-start;
            box-shadow: 0 20px 40px 0 rgba(108, 120, 143, 0.15), 0 1px 2px 0 rgba(206, 211, 222, 0.7);
            z-index: 999;
			background: #FFFFFF;
			cursor: pointer;

            .appointment-info {
              flex: 1;
              padding: 15px 30px 10px 20px;
			  .appointment-color-elem{
				background-color: #2752E4;
				position: absolute;
				top: -1px;
				left: -1px;
				right: -1px;
				height: 2px;
			  }
			  .appointment-time{
					color: #8894AF;
					white-space: nowrap;
				  .at-date{
					font-weight: 500;
					color: #0937ff;
					font-size: 16px;
					margin-bottom: 0px;
				  }
			  }
			  .appointment-service-name{
				font-weight: 500;
				font-size: 19px;
				margin-bottom: 5px;
			  }
            }

            .customer-info-w {
              flex: 1;
              padding: 15px 10px 15px 20px;
              align-items: flex-start;
              border-left: none;
              border-top: 1px solid rgba(0, 0, 0, 0.05);
			  .avatar-w {
				width: 50px;
				height: 50px;
				flex: 0 0 50px;
				border-radius: 50%;
				background-size: cover;
				background-position: center center;
				margin-right: 15px;
				box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.4);
			  }
			  .customer-name {
				font-weight: 500;
				font-size: 16px;
				color: #0937ff;
				margin-bottom: 3px;
			  }
			  .customer-property {
				margin-bottom: 2px;
				white-space: nowrap;
				.label {
					color: #8894AF;
				}
				.value {
					font-weight: 500;
				}
			  }
            }
          }

          &:hover {
            top: 10px;
            bottom: 10px;

            .appointment-box-small {
              transform: translate(-50%, -105%);
              visibility: visible;
              opacity: 1;
            }
          }
        }

        &:first-child {
          .appointment-box-small {
            left: 0px;
            transform: translate(0%, -120%);
          }

          .ma-day-booking:hover .appointment-box-small {
            transform: translate(0%, -105%);
          }
        }

        &:last-child {
          .appointment-box-small {
            left: auto;
            right: 0px;
            transform: translate(0%, -120%);
          }

          .ma-day-booking:hover .appointment-box-small {
            transform: translate(0%, -105%);
          }
        }
      }

      &:nth-child(1) .ma-day-booking .appointment-box-small, &:nth-child(2) .ma-day-booking .appointment-box-small, &:nth-child(3) .ma-day-booking .appointment-box-small, &:nth-child(4) .ma-day-booking .appointment-box-small, &:nth-child(5) .ma-day-booking .appointment-box-small {
        top: auto;
        bottom: 0px;
        transform: translate(-50%, 110%);
      }

      &:nth-child(1) .ma-day-booking:hover .appointment-box-small, &:nth-child(2) .ma-day-booking:hover .appointment-box-small, &:nth-child(3) .ma-day-booking:hover .appointment-box-small, &:nth-child(4) .ma-day-booking:hover .appointment-box-small, &:nth-child(5) .ma-day-booking:hover .appointment-box-small {
        transform: translate(-50%, 100%);
      }

      &:nth-child(1) .ma-day-agent-bookings:first-child .appointment-box-small, &:nth-child(2) .ma-day-agent-bookings:first-child .appointment-box-small, &:nth-child(3) .ma-day-agent-bookings:first-child .appointment-box-small, &:nth-child(4) .ma-day-agent-bookings:first-child .appointment-box-small, &:nth-child(5) .ma-day-agent-bookings:first-child .appointment-box-small {
        left: 0px;
        top: auto;
        bottom: 0px;
        transform: translate(5%, 105%);
      }

      &:nth-child(1) .ma-day-agent-bookings:first-child .ma-day-booking:hover .appointment-box-small, &:nth-child(2) .ma-day-agent-bookings:first-child .ma-day-booking:hover .appointment-box-small, &:nth-child(3) .ma-day-agent-bookings:first-child .ma-day-booking:hover .appointment-box-small, &:nth-child(4) .ma-day-agent-bookings:first-child .ma-day-booking:hover .appointment-box-small, &:nth-child(5) .ma-day-agent-bookings:first-child .ma-day-booking:hover .appointment-box-small {
        transform: translate(0%, 100%);
      }

      &:nth-child(1) .ma-day-agent-bookings:last-child .appointment-box-small, &:nth-child(2) .ma-day-agent-bookings:last-child .appointment-box-small, &:nth-child(3) .ma-day-agent-bookings:last-child .appointment-box-small, &:nth-child(4) .ma-day-agent-bookings:last-child .appointment-box-small, &:nth-child(5) .ma-day-agent-bookings:last-child .appointment-box-small {
        left: auto;
        right: 0px;
        top: auto;
        bottom: 0px;
        transform: translate(0%, 105%);
      }

      &:nth-child(1) .ma-day-agent-bookings:last-child .ma-day-booking:hover .appointment-box-small, &:nth-child(2) .ma-day-agent-bookings:last-child .ma-day-booking:hover .appointment-box-small, &:nth-child(3) .ma-day-agent-bookings:last-child .ma-day-booking:hover .appointment-box-small, &:nth-child(4) .ma-day-agent-bookings:last-child .ma-day-booking:hover .appointment-box-small, &:nth-child(5) .ma-day-agent-bookings:last-child .ma-day-booking:hover .appointment-box-small {
        transform: translate(0%, 100%);
      }
    }
  }

  .ma-floated-days-w .ma-day:nth-child(even) .ma-day-agent-bookings, .ma-days-with-bookings-w .ma-day:nth-child(even) .ma-day-agent-bookings {
    background-color: rgba(0, 0, 0, 0.02);
  }

  .ma-floated-days-w .ma-day:nth-child(even) .ma-day-info .ma-day-number, .ma-days-with-bookings-w .ma-day:nth-child(even) .ma-day-info .ma-day-number, .ma-floated-days-w .ma-day:nth-child(even) .ma-day-info .ma-day-weekday, .ma-days-with-bookings-w .ma-day:nth-child(even) .ma-day-info .ma-day-weekday {
    background-color: #fafafa;
  }

  .ma-floated-days-w .ma-day {
    &.ma-day-number-6 .ma-day-info {
      .ma-day-number, .ma-day-weekday {
        background-color: #fffaf0;
      }
    }

    &.ma-day-number-7 .ma-day-info {
      .ma-day-number, .ma-day-weekday {
        background-color: #fffaf0;
      }
    }
  }

  .ma-days-with-bookings-w .ma-day {
    &.ma-day-number-6 .ma-day-info {
      .ma-day-number, .ma-day-weekday {
        background-color: #fffaf0;
      }
    }

    &.ma-day-number-7 .ma-day-info {
      .ma-day-number, .ma-day-weekday {
        background-color: #fffaf0;
      }
    }
  }

  .ma-floated-days-w .ma-day {
    &.ma-day-number-6 .ma-day-agent-bookings, &.ma-day-number-7 .ma-day-agent-bookings {
      background-color: #F8F5EC;
    }
  }

  .ma-days-with-bookings-w .ma-day {
    &.ma-day-number-6 .ma-day-agent-bookings, &.ma-day-number-7 .ma-day-agent-bookings {
      background-color: #F8F5EC;
    }
  }

  .ma-floated-days-w .ma-day.ma-day-number-7 .ma-day-agent-bookings, .ma-days-with-bookings-w .ma-day.ma-day-number-7 .ma-day-agent-bookings, .ma-floated-days-w .ma-day.ma-day-number-7 .ma-day-info, .ma-days-with-bookings-w .ma-day.ma-day-number-7 .ma-day-info {
    border-bottom: 1px solid #dac59b;
  }

  &.calendar-month-not-scrollable {
    .ma-days-with-bookings-w {
      overflow-x: visible;
    }

    .ma-head-agent, .ma-days-with-bookings-w .ma-day .ma-day-agent-bookings {
      flex: 1;
    }
  }
}
.timeline-with-info-w {
  align-items: center;
  display: flex;

  .timeline-side-w {
    flex: 1;
  }

  .timeline-info-w {
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    flex: 0 0 320px;

    .os-add-box {
      border: none;
      background-color: #0937ff;
      padding: 10px;
      margin-top: 15px;

      .add-box-label {
        margin-right: auto;
        color: #fff;
        margin-left: 10px;
      }

      .add-box-graphic-w {
        margin-left: auto;
        width: 30px;
        height: 30px;

        .add-box-plus {
          background-color: #fff;
          color: #0937ff;
          box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
.agent-day-bookings-timeline-compact-w {
  position: relative;
  display: flex;

  .agents-avatars {
    flex: 0 0 50px;
    margin-right: 20px;
    padding-top: 30px;

	.agents-ava-div{
		height: 100px;
		margin-bottom: 20px;
	}

    .avatar-w {
      height: 50px;
      border-radius: 50%;
      background-size: cover;
      background-position: center center;
      margin-bottom: 20px;
      display: block;
      text-decoration: none;
      position: relative;

      span {
        display: none;
        position: absolute;
        bottom: 100%;
        left: 50%;
        background-color: #111;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 15px;
        z-index: 9999;
        transform: translate(-50%, -5px);
        white-space: nowrap;
      }

      &:hover span {
        display: block;
      }
    }
  }

  .agents-timelines-w {
    flex: 1;
  }

  .timeline-bottom-w {
    display: flex;
  }

  .timeline-top-w {
    display: flex;
    height: 30px;
  }

  .timeslot {
    flex: 1;

    &:last-child:not(:first-child) {
      width: 1px;
      flex: 0 0 1px;
    }

    &.with-tick .tick {
      background-color: rgba(0, 0, 0, 0.05);
      position: absolute;
      z-index: 2;
      top: 20px;
      bottom: 20px;
      width: 1px;
    }

    .timeslot-time {
      font-weight: 500;
      font-size: 12.8px;
      text-align: center;
      line-height: 1.2;
      transform: translateX(-50%);
      display: inline-block;

      .timeslot-ampm {
        color: #8894AF;
        font-size: 9.6px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  .agent-timeline-w {
    margin-bottom: 20px;

    .agent-timeline {
      height: 100px;
      background-color: #F2F5F8;
      position: relative;

      .booking-block {
        height: 95px;
        z-index: 3;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        box-shadow: 0px 0px 0px 1px #f2f5f8;
        background-color: rgba(0, 0, 0, 0.2);
		background: #ffc0c0;
		padding: 10px;
		border-radius: 10px;
		*{
			color: #fff;
		}

        &.os-loading:after {
          display: block;
          content: "";
          width: 14px !important;
          height: 14px !important;
          border-bottom: 2px solid #fff;
          border-left: 2px solid #fff;
          border-top: 2px solid #fff;
          border-right: 2px solid rgba(255, 255, 255, 0);
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: os-loading 700ms infinite linear;
          background-color: transparent !important;
        }

        .appointment-box-small {
          position: absolute;
          top: 0px;
          left: 50%;
          transform: translate(-50%, -120%);
          visibility: hidden;
          opacity: 0;
          transition: all 0.2s ease;
        }

        &:hover .appointment-box-small {
          transform: translate(-50%, -105%);
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.kiosk-info-nav{
	height: 100px;
	background: #f0f0f0;
}

.wj-widget .wj-widget-header.with-actions {
	flex-wrap: wrap;
	align-items: center;
  
	.wj-widget-header-actions-trigger {
	  display: block;
	  margin-left: auto;
	  padding: 0px 0px 0px 5px;
	}
  
	.wj-widget-header-actions {
	  display: none;
	  text-align: left;
	  margin: 0px;
	  padding-bottom: 5px;
	  padding-top: 5px;
	  border-top: 1px solid rgba(0, 0, 0, 0.05);
	  margin-top: 10px;
	  width: 100%;
	  flex: 0 0 100%;
  
	  select {
		display: block;
		width: 100%;
		max-width: 100%;
		margin-top: 10px;
		font-size: 16px;
	  }
  
	  .wj-date-range-picker {
		display: block;
		width: 100%;
		max-width: 100%;
		margin-top: 10px;
		font-size: 16px;
		padding: 7px 4px 9px 6px;
		position: relative;
  
		> i {
		  position: absolute;
		  top: 50%;
		  right: 5px;
		  transform: translateY(-50%);
		}
	  }
	}
  
	&.wj-show-actions .wj-widget-header-actions {
	  display: block;
	}
  }

  .wj-widget {
	margin-bottom: 40px;
	background-color: #fff;
	border: 1px solid #e0e1e8;
	border-radius: 3px;
  
	&.wj-widget-transparent {
	  background-color: transparent;
	  border: none;
	  padding: 0px;
	  box-shadow: none;
  
	  .wj-widget-header {
		padding: 9px 10px 10px 37px;
		border: none;
  
		&:before {
		  display: none;
		}
	  }
  
	  .wj-widget-content {
		padding: 0px;
	  }
	}
  
	.wj-widget-header {
	  font-size: 19px;
	  font-weight: 500;
	  border-bottom: 1px solid #e7e9ef;
	  color: #2D303A;
	  padding: 10px 10px 10px 37px;
	  margin-top: 0px;
	  line-height: 1.4;
  
	  &.centered {
		text-align: center;
	  }
  
	  h3 {
		font-size: 22px;
		padding: 4px 0px;
		margin: 0px;
		line-height: 1;
		color: #2D303A;
	  }
  
	  &.with-actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
  
		.wj-widget-header-text {
		  position: relative;
		  padding: 3px 5px 4px 0px;
		  line-height: 1;
		  vertical-align: middle;
		}
  
		.wj-widget-header-actions-trigger {
		  display: none;
		}
  
		.wj-widget-header-actions {
		  margin-left: auto;
		  text-align: right;
  
		  .wj-date-range-picker {
			cursor: pointer;
			border-radius: 4px;
			border: none;
			background-color: #F0F2F8;
			box-shadow: none;
			background-color: #fff;
			border: 1px solid #d6d6e1;
			border-bottom-color: #bebfc7;
			box-shadow: none;
			font-size: 14px;
			padding: 6px 4px 6px 10px;
			display: inline-block;
			vertical-align: middle;
			line-height: 1;
  
			i, span {
			  display: inline-block;
			  vertical-align: middle;
			}
  
			i {
			  font-size: 14px;
			}
  
			span {
			  color: #38406d;
			}
  
			&:hover {
			  background-color: #fff;
			}
		  }
		}
  
		select {
		  max-width: 130px;
		  box-shadow: none;
		  border: none;
		  background-color: #F0F2F8;
		  color: #32373c;
		  background-color: #fff;
		  border: 1px solid #d6d6e1;
		  border-bottom-color: #bebfc7;
		  box-shadow: none;
		  border-radius: 4px;
		  font-size: 14px;
		}
	  }
  
	  &:before {
		content: "";
		width: 4px;
		height: 4px;
		background-color: #0937ff;
		box-shadow: 8px 8px 0px rgba(9, 55, 255, 0.6), 0px 8px 0px rgba(9, 55, 255, 0.6), 0px 16px 0px rgba(9, 55, 255, 0.3), 8px 24px 0px rgba(9, 55, 255, 0.7), 8px 16px 0px rgba(9, 55, 255, 0.4);
		position: absolute;
		top: 11px;
		left: 12px;
	  }
	}
  
	.wj-widget-content {
	  padding: 20px;
  
	  &.no-padding {
		padding: 0px;
	  }
	}
  
	&.wj-widget-boxed {
	  background-color: #fff;
	  box-shadow: 0 10px 30px 0 rgba(115, 125, 146, 0.11), 0 1px 2px 0 rgba(160, 170, 185, 0.6);
	  padding: 15px;
	  border-radius: 3px;
  
	  .wj-widget-header {
		padding-top: 0px;
		border-bottom: none;
	  }
	}
  }
.timeline-with-info-w {
  align-items: center;
  display: flex;

  .timeline-side-w {
    flex: 1;
  }

  .timeline-info-w {
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    flex: 0 0 320px;

    .wj-add-box {
      border: none;
      background-color: #0937ff;
      padding: 10px;
      margin-top: 15px;

      .add-box-label {
        margin-right: auto;
        color: #fff;
        margin-left: 10px;
      }

      .add-box-graphic-w {
        margin-left: auto;
        width: 30px;
        height: 30px;

        .add-box-plus {
          background-color: #fff;
          color: #0937ff;
          box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.wj-widget-today-info {
	border: none;
	margin-bottom: 0px;
  
	.day-info-progress {
	  background-color: rgba(255, 255, 255, 0.2);
	  display: flex;
  
	  .di-progress-value {
		height: 8px;
		position: relative;
  
		.progress-label-w {
		  transform: translateY(-120%);
		  transition: all 0.1s ease-in;
		  display: none;
		  position: absolute;
		  top: 0px;
		  right: 0px;
		  background-color: #000;
		  padding: 10px;
		  font-size: 17px;
  
		  .progress-label {
			color: rgba(255, 255, 255, 0.6);
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 1px;
			white-space: nowrap;
			margin-top: 5px;
		  }
  
		  .progress-value {
			white-space: nowrap;
			color: #fff;
		  }
		}
  
		&:hover .progress-label-w {
		  transform: translateY(-105%);
		  display: block;
		}
	  }
	}
  
	.day-main-info {
	  padding-bottom: 20px;
	  text-align: center;
	}
  
	.big-counter {
	  font-size: 68px;
	  line-height: 1;
	  color: #2D303A;
	  font-weight: 500;
	}
  
	.counter-label {
	  color: #8894AF;
	  font-size: 22px;
	}
  
	.day-sub-info {
	  margin-top: 20px;
	  border-top: 1px solid rgba(0, 0, 0, 0.05);
	}
  
	.day-sub-info-col {
	  padding: 15px 0px;
  
	  + .day-sub-info-col {
		border-top: 1px solid rgba(0, 0, 0, 0.05);
	  }
  
	  &.with-avatars {
		display: flex;
		align-items: center;
		justify-content: space-between;
  
		.agents-on-duty-avatars {
		  margin-left: 20px;
		  display: flex;
		  flex-direction: row-reverse;
		  position: relative;
		}
  
		.avatar-w {
		  background-size: cover;
		  background-position: center center;
		  width: 45px;
		  height: 45px;
		  display: block;
		  border-radius: 50%;
		  box-shadow: 0px 0px 0px 2px #fff;
		  margin-right: -10px;
  
		  &:first-child {
			margin-right: 0px;
		  }
		}
	  }
	}
  
	.sub-info-value {
	  color: #0937ff;
	  font-size: 20px;
	  font-weight: 500;
	  display: inline-block;
	  margin-right: 10px;
	  margin-bottom: 5px;
	  padding-right: 10px;
	  border-right: 1px solid rgba(0, 0, 0, 0.1);
  
	  &:last-child {
		border-right: none;
		margin-right: 0px;
		padding-right: 0px;
	  }
	}
  
	.sub-info-label {
	  color: #8894AF;
	  font-size: 16px;
	  margin-bottom: 5px;
	}
  }

  .midone-dash{
	  background: #f0f0f0;
	.mobile-menu{
		.menu {
			.menu__icon{
				color: #000;
			}
			.menu__title{
				color: #000;
			}
		}
	}

	.side-nav {
		.side-menu {
			&.side-menu--active{
				background-color: #fff;
				&::before, &::after{
					background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52'%3E%3Cpath data-name='Path 143' d='M259.51 259.52c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828a237.651 237.651 0 0 0-7.292-8.589c-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3A115.051 115.051 0 0 0 0 .081h259.51Z' fill='%23ffffff'/%3E%3C/svg%3E");
				}

				.side-menu__icon{
					&::before{
						background-color: #fff;
						z-index: 0;
					}
				}
			}
			.side-menu__icon{
				svg{
					color: #000;
				}
			}
			.side-menu__title{
				color: #000;
				.side-menu__sub-icon{
					svg{

					}
				}
			}
		}
	  }
  }
  
.os-page-tabs {
    margin-top: 15px;
	display: flex;
}
.os-page-tabs li {
      margin-right: 25px; }
.os-page-tabs li a {
        padding: 15px 0px;
        white-space: nowrap;
        font-size: 20px;
		display: block;
		text-decoration: none;
		color: #8894AF;
		position: relative;
		outline: none;
}
.os-page-tabs .os-page-tab-active a:after {
	content: "";
	background-color: #0937ff;
	height: 1px;
	left: 0px;
	right: 0px;
	position: absolute;
    bottom: 0px;
}

.left-side-popup{
	transform: translate(0, -50%) !important;
	left: initial !important;
	right: 0;
	border-radius: 0 !important;
	max-height: 100% !important;
	height: 100% !important;
}

.search-result{
	max-width: 450px;
	width: 100%;
	min-width: 400px;
}

.report-box__indicator{
	background: rgb(132 204 22/1);

	&.negative{
		background: rgb(220 38 38/1);
		svg{
			transform: rotate(180deg);
		}
	}
}